.dropdown-wr {
  color: gray;
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 40px; }
  .dropdown-wr ul {
    list-style-type: none; }

.dropdown-trigger {
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid #B0B0B0;
  padding: 7px; }
  .dropdown-trigger:hover, .dropdown-trigger:focus {
    cursor: pointer;
    border-radius: 2px 2px 0px 0px;
    border-color: #289ada;
    box-shadow: none;
    outline: none; }
  .dropdown-trigger.bigger {
    padding: 12px 7px;
    font-size: 1.2rem; }

.dropdown-options {
  width: 200px;
  margin-top: -1px;
  margin-left: -40px;
  font-size: 1rem;
  border-radius: 0px;
  border: 1px solid #B0B0B0;
  padding: 7px; }
  .dropdown-options:hover, .dropdown-options:focus {
    background-color: #289ada;
    color: white;
    cursor: pointer;
    border-color: #289ada;
    box-shadow: none;
    outline: none; }
  .dropdown-options.bigger {
    padding: 12px 7px;
    font-size: 1.2rem; }
