.dropdown-wr {
  position: relative;
  .dropdown-trigger {
    width: 100%;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
    padding: 7px;
    color: #a8a8a8;
    img {
      position: relative;
      float: right;
      transform: rotate(180deg);
      margin: 8px 4px 0 0;

      width: 13px;
    }
    &.open {
      border-radius: 4px 4px 0 0;
      border-color: #289ada;
    }
    &:hover, &:focus {
      cursor: pointer;
      border-color: #289ada;
      box-shadow: none;
      outline: none;
    }
    &.bigger {
      padding: 12px 7px;
      font-size: 1.2rem;
    }
  }
  .dropdown-options {
    color: #a8a8a8;
    overflow-y: auto;
    width: 100%;
    margin-top: -1px;
    font-size: 1rem;
    border-radius: 0px;
    border-left: 1px solid #289ada;
    border-right: 1px solid #289ada;
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: 2;
    background-color: white;
    li {
      width: 100%;
      margin: 0;
      padding: 7px;
      &:hover, &:focus {
        background-color: #289ada;
        color: white;
        cursor: pointer;
        box-shadow: none;
        outline: none;
      }
    }
    &:last-child {
      border-bottom: 1px solid #289ada;
      border-radius: 0 0 4px 4px;
    }

    &.bigger {
      padding: 12px 7px;
      font-size: 1.2rem;
    }
  }
}








