.dropdown-wr {
  position: relative;
  .dropdown-trigger {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
    padding: 12px 13px;
    font-size: 0.875rem;
    line-height: 1.1429;
    color: #a8a8a8;
    &.selected {
      color: #33373e;
    }
    img {
      position: relative;
      float: right;
      transform: rotate(180deg);
      margin: 3px 4px 0 0;

      width: 13px;
    }
    &.disabled {
      background-color: #ebebe4;
      &:hover, &:focus {
        border-color: #B0B0B0;
        cursor: not-allowed;
        box-shadow: none;
        outline: none;
      }
    }
    &.open {
      border-radius: 4px 4px 0 0;
      border-color: #289ada;
    }
    &:hover, &:focus {
      cursor: pointer;
      border-color: #289ada;
      box-shadow: none;
      outline: none;
    }
    &.bigger {
      padding: 12px 7px;
      font-size: 1.2rem;
    }
  }
  .dropdown-options {
    color: #a8a8a8;
    overflow-y: auto;
    width: 100%;
    margin-top: -1px;
    font-size: 1rem;
    border-radius: 0px;
    border-left: 1px solid #289ada;
    border-right: 1px solid #289ada;
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: 4;
    background-color: white;
    li {
      width: 100%;
      margin: 0;
      padding: 7px 21px 6px;
      font-size: 0.875rem;
      line-height: 1.1429;
      color: #33373e;
      &:hover, &:focus {
        background-color: #289ada;
        color: white;
        cursor: pointer;
        box-shadow: none;
        outline: none;
      }
    }
    &:last-child {
      border-bottom: 1px solid #289ada;
      border-radius: 0 0 4px 4px;
    }

    &.bigger {
      padding: 12px 7px;
      font-size: 1.2rem;
    }
  }
}

.dropdown-current-placeholder {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}








