@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$nav-background: rgba(34, 40, 48, 0.85);
$nav-hover: rgba(34, 40, 48, 1);
$filter-background-color: gray;
$filter-input-color : white;
$filter-save-search: #289ada;
$filter-input-background-color :#3d464b;
$set-alerts-background : #899399;
$filter-input-button-height: 40px;
$font-family: 'Cabin', sans-serif;

$break-tablet: 1025px;

.App-filter{
  padding: 15px;
  color: $filter-input-color;
  background-color: $filter-background-color;
  .small-inputs{
    input {
      width: 100px;
    }
  }
  input {
    background-color: $filter-input-background-color;
    border: 1px solid $filter-input-background-color;
    height: $filter-input-button-height;
    width: 100%;
    color: $filter-input-color;
  }
  input::placeholder{
    color:$filter-input-color
  }
  select {
    background-color: $filter-input-background-color;
    border: 1px solid $filter-input-background-color;
    height: $filter-input-button-height;
    border-radius: 0px;
  }
  select option {
    background-color: $filter-input-background-color;
    border: 1px solid $filter-input-background-color;
    height: $filter-input-button-height;
    color: $filter-input-color;
    border-radius: 0px;
  }
  .filter-select{
    color: $filter-input-color;
  }
  .filter-select:focus{
    color: $filter-input-color;
    background-color: $filter-input-background-color;
  }
  .filter-set-alerts{
    width: 49%;
    height: $filter-input-button-height;
    margin-right: 1%;
  }
  .filter-save-search{
    width: 49%;
    margin-left: 1%;
    height: $filter-input-button-height;
    color: $filter-input-color;
    background-color:$filter-save-search;
    border : 1px solid $filter-save-search;
  }
  .filter-set-alerts-popup{
    width: 100%;
    height: $filter-input-button-height;
  }
  .filter-save-search-popup{
    width: 90%;
    height: $filter-input-button-height;
    color: $filter-input-color;
    background-color:$filter-save-search;
    border : 1px solid $filter-save-search;
  }
  .smaller-lg-inputs{
    max-width: 13%;
  }
  .filter-buttons{
    max-width: 24%;
  }
  .filter-button-image{
    margin-right: 15px;
  }
  .filter-of-description{
    height: $filter-input-button-height;
    display: block;
    padding-top: 10px;
  }

  .filter-another-row{
    margin-top: 20px;
  }
  .filter-input-div{
    padding-left: 5px;
    padding-right: 5px;
  }
  .more-filters{
    background-color: #222222;
    position: relative;
    top: 20px;
    .more-filters-button{
      position: relative;
      width: 150px;
      left: 50%;
      background-color: gray;
      img{
        margin-right: 10%;
      }
    }
  }
  .filter-set-alerts-div{
    background-color: $set-alerts-background;
    .set-alert-title{
      display: block;
      padding-top: 5px;
    }
    .filter-set-alerts-form{
      background-color: $filter-background-color;
      .set-alerts-select-method{
        font-size: 14px;
        input[type="checkbox"]{
          width: 16px;
        }
        .selected-method-title{
          position: relative;
          bottom: 14px;
        }
      }
      .filter-contact-info{
        .filter-contact-info-title{
          position: relative;
          top: 10px;
        }
        input{
          border-radius: 0;
        }
        input:focus{
          color: $filter-input-color;
          background-color: $filter-input-background-color;
        }
      }
    }
  }


}

@media only screen and (max-width: 1025px)  {
  .App-filter{
    .filter-buttons{
      max-width: 100%;
    }
    .filter-buttons{
      width: 100%;
    }
    .filter-set-alerts{
      width: 100% !important;
      margin-right: 0;
    }
    .filter-save-search{
      width: 100% !important;
      margin-left: 0;
    }
    .smaller-lg-inputs{
      max-width: 100%;
    }
    .filter-input-div{
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}