.company-table {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  table-layout: fixed; }
  .company-table th {
    border: 2px solid #e3e2df;
    background-color: #fbfaf7;
    padding: 10px;
    font-weight: bold; }
  .company-table .company-row {
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
    padding: 5px 10px; }
    .company-table .company-row td {
      text-align: left;
      padding: 10px;
      border: none; }
      .company-table .company-row td:last-child {
        float: right; }
      .company-table .company-row td button {
        margin-left: 15px; }

.admin-companies .list-companies {
  max-width: 800px;
  margin: auto; }
  .admin-companies .list-companies h4 {
    font-size: 1.4rem;
    margin-top: 40px; }
  .admin-companies .list-companies .add-new-company {
    margin-top: 15px;
    display: flex; }
    .admin-companies .list-companies .add-new-company input {
      flex: auto; }

.admin-companies .company-detail {
  display: flex;
  justify-content: flex-end; }
  .admin-companies .company-detail input {
    flex: auto; }
  .admin-companies .company-detail button {
    margin-left: 15px; }
