@import "../../../styles/main.scss";
$borderColor: #e3e2df;


.company-table {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  table-layout: fixed;
  th {
    border: 2px solid $borderColor;
    background-color: #fbfaf7;
    padding: 10px;
    font-weight: bold;
  }
  .company-row {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    padding: 5px 10px;
    td{
      text-align: left;
      padding: 10px;
      border: none;
      &:last-child {
          float: right;
      }
      button {
        margin-left: 15px;
      }
    }
  }

}
.admin-companies{
  .list-companies{
    max-width: 800px;
    margin: auto;
    h4{
      font-size: 1.4rem;
      margin-top: 40px;
    }
    .add-new-company {
      margin-top: 15px;
      display: flex;
      input {
        flex: auto;
      }
    }
  }
  .company-detail {
    display: flex;
    justify-content: flex-end;
    input {
      flex: auto
    }
    button {
    margin-left: 15px;
    }
  }
}