@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);
.AddInventory .App-filter .filter-save-search-popup {
  cursor: pointer; }

.AddInventory .App-filter .add-inventory-select .Select-control {
  background-color: #3d464b;
  border: 1px solid #3d464b;
  border-radius: 0; }
  .AddInventory .App-filter .add-inventory-select .Select-control .Select-value {
    text-align: left; }
    .AddInventory .App-filter .add-inventory-select .Select-control .Select-value .Select-value-label {
      color: white !important; }
  .AddInventory .App-filter .add-inventory-select .Select-control .Select-option {
    color: white; }

.AddInventory .App-filter .Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #3d464b;
  border: 1px solid #3d464b;
  border-top-color: #3d464b;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }

.AddInventory .App-filter .Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.AddInventory .App-filter .Select-placeholder {
  color: white;
  text-align: left; }

.AddInventory .App-filter .Select-option {
  box-sizing: border-box;
  background-color: #3d464b;
  color: white;
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 8px 10px; }

.AddInventory .App-filter .Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.AddInventory .App-filter .Select-option.is-selected {
  background-color: #3d464b;
  color: white; }

.AddInventory .App-filter .Select-option.is-focused {
  background-color: #289ada;
  color: white; }

.AddInventory .App-filter .Select-option.is-disabled {
  color: #cccccc;
  cursor: default; }

.AddInventory .App-filter .Select-noresults {
  box-sizing: border-box;
  color: white;
  cursor: default;
  display: block;
  padding: 8px 10px; }
