
.add-group{
  border-radius: 8px;
  border: 1px solid #eeeeee;
  margin: 20px;
  .add-body{
    margin: 10px;
  }
  .header{
    background-color: #eeeeee;
    border: none;
    border-radius: 8px;
    &.open{
      border-radius: 8px 8px 0 0;
    }
    h1{
      font-size: 1rem;
      display: inline-block;
      font-weight: bold;
      margin: 0;
      padding: 7px;
      border: none;
    }
    i{
      float: right;
      padding-top: 7px;
    }
  }
}

.add-inventory {
  .add-inventory{
    color: white;
    background-color: #289ada;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 50px;
    font-weight: bold;
    float: right;
    font-size: 1em;
  }
}