@import "../../../styles/fonts.scss";

.add-group{
  border-radius: 4px;
  border: 1px solid #eeeeee;
  margin: 20px;
  font-family: $helvetica-roman;
  .notes-textarea{
    vertical-align: top;
  }
  .location-wr{
    .edit-location{
      background-color: #d4eaf7;
      color: #3b98d3;
      border: 2px solid #3b98d3;
      border-radius: 5px;
      width: 110px;
      height: 42px;
      font-weight: bold;
      margin-left: 25px;
      transition: all .2s ease;
      &:hover{
        cursor: pointer;
        background-color: #3b98d3;
        color: white;
      }
      &.disabled{
        border: 2px solid #b0b0b0;
        background-color: #cfe6f3;
        color: white;
        &:hover{
          cursor: not-allowed;
          background-color: #cfe6f3;
          color: white;
        }
      }
    }

    .group-item-wr {
      width: 12.5%;
      margin: 0 0 16px;

      &:first-child {
        width: 25%;
      }

      > input,
      > div {
        width: calc(100% - 16px);
      }
    }
  }
  .incremental-pricing-table{
    width: calc(50% + 100px);
    min-width: calc(50% + 100px);
    max-width: calc(50% + 100px);

    td {
      padding: 0 0 8px;

      input{
        width: calc(100% - 16px);
        margin: 0 16px 0 0;
      }
    }
    th{
      padding: 0 0 5px;
      width: calc((100% - 100px) / 4);
      font-size: .875rem;
      font-weight: lighter;
      line-height: 1.1428;

      &.btn-col {
        width: 50px;
      }
    }
    .incremental-button{
      border-radius: 5px;
      font-weight: bold;
      font-size: 22px;
      width: 42px;
      height: 42px;
      padding: 6px 6px 12px;
      transition: all .2s ease;
      line-height: 1;

      &:hover{
        cursor: pointer;
      }
      &.add{
        background-color: #dcf7d8;
        border: 1px solid #56d347;
        color: #56d347;
        &:hover{
          background-color: #56d347;
          color: white;
        }
      }
      &.remove{
        border: 1px solid #d32a2e;
        padding: 8px 6px 10px;
        color: #d32a2e;
        background-color: #f7ddd3;
        &:hover{
          background-color: #d32a2e;
          color: white;
        }
      }
    }
    .incremental-index{
      background-color: #d4eaf7;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin: 7px 25px 0 0 ;
      border-radius: 50%;
      position: relative;
      color: #3b98d3;
      border: 2px solid #3b98d3;
      span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  label{
    display: block;
    margin: 0 0 5px;
    font-size: .875rem;
    line-height: 1.1428;
  }
  .incremental-wr{
    h4{
      font-size: 1rem;
    }
  }
  .group-inside{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    .incremental, .anonymous{
      margin: 10px;
    }
    &:first-child{
      border-right: 1px solid #eeeeee;
    }
  }
  .group-item-wr{
    display: inline-block;
    width: calc(16.6666% - 14px);
    margin: 0 8px 24px;
    vertical-align: top;

    &.infoLabel {
      width: 100%;
      margin: 13px 0 0;
    }

    &.long {
      width: calc(33.3333% - 12px);
    }

    &:nth-child(6n+1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(6n+6) {
      margin-right: 0;
    }

    &.notes {
      vertical-align: top;
    }

    label.input-checkbox {
      margin-bottom: 0;
      padding-left: 27px;
      line-height: 1.5;

      p {
        margin: 0;
      }

      .checkmark {
        margin-right: 6px;
      }
    }

    &.inputs-align label.input-checkbox {
      margin: 41px 0 0;
    }

    .total {
      float: left;
      padding-top: 20px;
      text-align: right;

      h5 {
        margin: 0;
        font-family: $helvetica-md;
        font-size: 1.125em;
        line-height: 1.2222;
      }

      output {
        font-size: 1.125em;
        line-height: 1.1666;
      }
    }

    input,
    textarea,
    .dropdown-wr,
    .comboBox,
    .react-datepicker-wrapper,
    .react-datepicker__input-container,
    .notes-textarea {
      width: 100%;
    }
    
    .gross-margin{
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0;
      //left:34%;
    }

    .tooltip-component {
      margin-top: -5px;
    }

    + button {
      margin-top: 20px;

      &.big.add-productOffering {
        margin-top: 98px;
      }
    }
  }
  .warlb {

  }
  .dropdown-wr{
    width: 192px;
    display: inline-block;
  }
  .add-body{
    margin: 10px 22px;
    display: none;
    &.open{
      display: block;
    }
  }
  .header-group{
    margin: 0 0 31px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    &.open{
      border-radius: 4px 4px 0 0;
    }
    h2{
      display: inline-block;
      margin: 0;
      padding: 13px 15px 14px;
      border: none;
      font-family: $helvetica-md;
      font-size: 1rem;
      font-weight: 400;
      color:#33373e;
    }
    i{
      float: right;
      padding-top: 17px;
      padding-right: 17px;
    }
    img {
      padding-left: 20px;
    }
  }
  .group-inside{
    h4{
      font-size: 1rem;
    }
  }
  h4{
    margin: 20px 0 32px;
    font-family: $helvetica-md;
    font-size: 1rem;
    font-weight: 400;
    color:#33373e;
    line-height: 1.1875;
  }

  .margin-fix {
    margin-bottom: 0px;
  }

}
.inventory-product{
  color: #B0B0B0;
  margin: 10px 0 10px 20px;
}
.add-inventory {
  &.disable {
    opacity: .5;
  }
  .add-inventory{
    margin: 20px;
    float: right;
  }
  .location-submenu{
    margin-bottom: 20px;
    div{
      display: inline-block;
      padding: 0 5px 1px;
      margin: 0 10px 0 0;
      font-size: 1rem;
      transition: all .2s ease;
      line-height: 1.1875;
      &:hover{
        cursor: pointer;
        color: #3b98d3;
      }
      > div {
        border-bottom: 1px solid transparent;
      }
    }
    &.saved{
      .saved{
        border-bottom: 1px solid #3b98d3;
        font-weight: bold;
      }
    }
    &.new{
      .new{
        border-bottom: 1px solid #3b98d3;
        font-weight: bold;
      }
    }
  }
}
.datepicker .react-datepicker__input-container input {

}
//.form-error {
//  position: relative;
//  display: inline-block;
//  span {
//  position: absolute;
//    top: 40px;
//    left: 105px;
//    width: 190px;
//    transform: translate(-50%, -50%);
//    z-index: 2;
//  background-color: #289ada;
//    border-radius: 4px;
//    color: white;
//    font-size: .9rem;
//  padding: 10px;
//    &:before {
//      content: '';
//      position: absolute;
//      top: -11px;
//      left: 50%;
//      transform: translateX(-50%);
//      width: 0;
//      height: 0;
//      border-left: 12px solid transparent;
//      border-right: 12px solid transparent;
//      border-bottom: 12px solid #289ada;
//    }
//  }
//}

.form-error,
.location-wr .warehouse-val {
  position: relative;
  display: block;
  span {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    text-align: right;
    z-index: -1;
    background-color: white;
    border-radius: 4px;
    color: #ef3157;
    font-size: .75rem;
    padding: 1px 2px;
  }

  ~ input,
  ~ .dropdown-wr .dropdown-trigger,
  ~ .comboBox input {
    border-color: #ef3157;
  }
}