@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$font-family: 'Cabin', sans-serif;
$info-background: #df4449;
$info-color: white;
$header-color:#222830;
$options-background: #c44044;
$options-background-2: #af393d;
$options-color:white;
$stats-color: white;
$form-place-background: #222830;
$form-place-color: white;
$header-color: black;
$filter-background-color:#3d464b;
$filter-color: white;
$break-tablet: 1080px;
$break-phone: 700px;

.AddInventory {
  .App-filter{
    .filter-save-search-popup{
      cursor:pointer;
    }
    .add-inventory-select{
      .Select-control {
        background-color: #3d464b;
        border: 1px solid #3d464b;
        border-radius: 0;
        .Select-value {
          text-align: left;
          .Select-value-label {
            color: white !important;
          }
        }
        .Select-option{
          color: white;
        }
      }
    }

    .Select-menu-outer {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: $filter-background-color;
      border: 1px solid $filter-background-color;
      border-top-color: $filter-background-color;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      margin-top: -1px;
      max-height: 200px;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      z-index: 1;
      -webkit-overflow-scrolling: touch;
    }
    .Select-menu {
      max-height: 198px;
      overflow-y: auto;
    }
    .Select-placeholder{
      color: $filter-color;
      text-align: left;
    }
    .Select-option {
      box-sizing: border-box;
      background-color: $filter-background-color;
      color: $filter-color;
      cursor: pointer;
      display: block;
      text-align: left;
      padding: 8px 10px;
    }
    .Select-option:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .Select-option.is-selected {
      background-color: $filter-background-color;
      color: $filter-color;
    }
    .Select-option.is-focused {
      background-color: #289ada;
      color: $filter-color;
    }
    .Select-option.is-disabled {
      color: #cccccc;
      cursor: default;
    }
    .Select-noresults {
      box-sizing: border-box;
      color: $filter-color;
      cursor: default;
      display: block;
      padding: 8px 10px;
    }
  }
}