
.add-group{
  border-radius: 4px;
  border: 1px solid #eeeeee;
  margin: 20px;
  .location-wr{
    .edit-location{
      background-color: #d4eaf7;
      color: #3b98d3;
      border: 2px solid #3b98d3;
      border-radius: 5px;
      width: 110px;
      height: 38px;
      font-weight: bold;
      margin-left: 25px;
      transition: all .2s ease;
      &:hover{
        cursor: pointer;
        background-color: #3b98d3;
        color: white;
      }
    }
  }
  .incremental-pricing-table{
    td input{
      margin: 0 20px 0 0;
    }
    th{
      font-weight: lighter;
    }
    .incremental-button{
      border-radius: 5px;
      font-weight: bold;
      font-size: 22px;
      width: 39px;
      transition: all .2s ease;
      &:hover{
        cursor: pointer;
      }
      &.add{
        background-color: #dcf7d8;
        border: 2px solid #56d347;
        color: #56d347;
        &:hover{
          background-color: #56d347;
          color: white;
        }
      }
      &.remove{
        border: 2px solid #d32a2e;
        color: #d32a2e;
        background-color: #f7ddd3;
        &:hover{
          background-color: #d32a2e;
          color: white;
        }
      }
    }
    .incremental-index{
      background-color: #d4eaf7;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin: 7px 25px 0 0 ;
      border-radius: 50%;
      position: relative;
      color: #3b98d3;
      border: 2px solid #3b98d3;
      span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  label{
    display: block;
    margin: 0;
    font-size: .9rem;
  }
  .incremental-wr{
    border-top: 1px solid #eeeeee;
    margin: 15px 10px;
    padding: 15px 0;
    h4{
      font-size: 1rem;
    }
  }
  .group-inside{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    .incremental, .anonymous{
      margin: 10px;
    }
    &:first-child{
      border-right: 1px solid #eeeeee;
    }
  }
  .group-item-wr{
    display: inline-block;
    margin: 10px;
  }
  .dropdown-wr{
    width: 200px;
    display: inline-block;
  }
  .add-body{
    margin: 10px;
    display: none;
    &.open{
      display: block;
    }
  }
  .header-group{
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    &.open{
      border-radius: 4px 4px 0 0;
    }
    h1{
      font-size: 1rem;
      display: inline-block;
      font-weight: bold;
      margin: 0;
      padding: 15px;
      color:#373b42;
      border: none;
    }
    i{
      float: right;
      padding-top: 17px;
      padding-right: 17px;
    }
    img {
      padding-left: 20px;
    }
  }
  .group-inside{
    h4{
      font-size: 1rem;
    }
  }
  h6{
    margin: 25px 0 25px 10px;
  }
}
.inventory-product{
  color: #B0B0B0;
  margin: 10px 0 10px 20px;
}
.add-inventory {
  &.disable {
    opacity: .5;
  }
  .add-inventory{
    margin: 20px;
    font-size: 1rem;
    float: right;
  }
  .location-submenu{
    margin-bottom: 20px;
    div{
      display: inline-block;
      padding: 0 5px;
      margin: 0 10px 0 0;
      font-size: .9rem;
      transition: all .2s ease;
      &:hover{
        cursor: pointer;
        color: #3b98d3;
      }
    }
    &.saved{
      .saved{
        border-bottom: 1px solid #3b98d3;
        font-weight: bold;
      }
    }
    &.new{
      .new{
        border-bottom: 1px solid #3b98d3;
        font-weight: bold;
      }
    }
  }
}
.datepicker .react-datepicker__input-container input {

}