i {
  display: inline-block;
  vertical-align: middle; }
  i.list {
    width: 18px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; }
    i.list.unknown {
      background-image: url("../../../images/orders/list-gray.png"); }
    i.list.positive {
      background-image: url("../../../images/orders/list-green.png"); }
    i.list.negative {
      background-image: url("../../../images/orders/list-red.png"); }

#saleOrdersTable {
  width: calc(100% - 58px);
  margin: 0 29px;
  font-size: 0.875rem;
  color: #33373e; }
  #saleOrdersTable .a-center {
    text-align: center; }
  #saleOrdersTable .a-right {
    text-align: right; }
  #saleOrdersTable thead th {
    height: 50px;
    padding: 0 15px;
    background-color: #fafafa;
    vertical-align: middle;
    font-family: "HelveticaNeueLTPro-Md", sans-serif;
    line-height: 17px; }
  #saleOrdersTable tbody td {
    height: 35px;
    border-bottom: 2px solid #eee;
    padding: 0 15px;
    vertical-align: middle;
    font-family: "HelveticaNeueLTPro-Roman", sans-serif; }
