@import "../../../styles/fonts.scss";

.page {
  padding: 20px;
}

i {
  display: inline-block;
  vertical-align: middle;

  &.list {
    width: 18px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    &.unknown {
      background-image: url('../../../images/orders/list-gray.png');
    }

    &.positive {
      background-image: url('../../../images/orders/list-green.png');
    }

    &.negative {
      background-image: url('../../../images/orders/list-red.png');
    }
  }
}

#saleOrdersTable {
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
  color: #33373e;

  .a-center {
    text-align: center;
  }

  .a-right {
    text-align: right;
  }

  thead th {
    height: 50px;
    padding: 0 15px;
    background-color: #fafafa;
    vertical-align: middle;
    font-family: $helvetica-md;
    line-height: 17px;
  }

  tbody td {
    height: 35px;
    border-bottom: 2px solid #eee;
    padding: 0 15px;
    vertical-align: middle;
    font-family: $helvetica-roman;
  }
}

.order-statuses {
  list-style: none;
  float: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: calc(100% - 404px);
  max-width: 1000px;
  height: 65px;
  margin: 24px 0;
  padding: 0;

  li {
    height: 65px;

    &.separator {
      width: 1px;
      background: rgba(151,151,151,0.3);
    }

    label {
      display: block;
      margin: 0;
      padding: 11px 0 5px;
      font-family: $helvetica-md;
      font-size: 0.875rem;
      letter-spacing: 0.2px;
      color: #33373e;
      line-height: 1.2143;
    }

    span {
      display: block;
      font-family: $helvetica-md;
      font-size: 1rem;
      color: #979797;
      line-height: 1.1875;
    }
  }
}

.action-required {
  background-color: #fafafa;
}