@import "../../../styles/fonts.scss";

.top-toolbar {
  margin: 0 -29px;
  background-color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  .quick-filter {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 8px 0 0;
    padding: 0 13px;

    li {
      width: auto;
      height: 44px;
      margin: 0 8px;
      padding: 0 8px;
      font-family: $helvetica-roman;
      font-size: 0.875rem;
      line-height: 44px;
      cursor: pointer;

      &.active {
        height: 47px;
        margin-bottom: -3px;
        border-bottom: 3px solid #2599d5;
        box-shadow: 3px 0 0 0 #ffffff, -3px 0 0 0 #ffffff;
      }
    }
  }
}

i {
  display: inline-block;
  vertical-align: middle;

  &.list {
    width: 18px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    &.unknown {
      background-image: url('../../../images/orders/list-gray.png');
    }

    &.positive {
      background-image: url('../../../images/orders/list-green.png');
    }

    &.negative {
      background-image: url('../../../images/orders/list-red.png');
    }
  }
}

.order-space {
  margin-top: 16px;
  margin-bottom: 16px;
}

#saleOrdersTable {
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
  color: #33373e;

  .a-center {
    text-align: center;
  }

  .a-right {
    text-align: right;
  }

  thead th {
    height: 50px;
    padding: 0 15px;
    background-color: #fafafa;
    vertical-align: middle;
    font-family: $helvetica-md;
    font-weight: 400;
    line-height: 17px;
  }

  tbody td {
    height: 35px;
    border-bottom: 2px solid #eee;
    padding: 0 15px;
    vertical-align: middle;
    font-family: $helvetica-roman;
  }
}

.order-statuses {
  list-style: none;
  float: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: calc(100% - 404px);
  max-width: 1000px;
  height: 65px;
  margin: 24px 0;
  padding: 0;

  li {
    height: 65px;

    &.separator {
      width: 1px;
      background: rgba(151,151,151,0.3);
    }

    label {
      display: block;
      margin: 0;
      padding: 11px 0 5px;
      font-family: $helvetica-md;
      font-size: 0.875rem;
      letter-spacing: 0.2px;
      color: #33373e;
      line-height: 1.2143;
    }

    span {
      display: block;
      font-family: $helvetica-md;
      font-size: 1rem;
      font-weight: 400;
      color: #979797;
      line-height: 1.1875;

      &.negative {
        color: #e62f2f;
      }

      &.positive {
        color: #5cbb5a;
      }
    }
  }
}

.data-list {
  display: grid;
  grid-template-columns: 235px calc(100% - 235px);
  grid-row-gap: 24px;
  width: 100%;
  margin: 12px 0;
  color: #33373e;
  line-height: 1.1667;

  .border-left & {
    margin-left: 24px;
  }

  dt:first-of-type,
  dd:first-of-type {
    padding-top: 5px;
  }

  dt:last-of-type,
  dd:last-of-type {
    padding-bottom: 5px;
  }

  dt {
    padding: 0 24px 0 7px;
    text-align: left;
    font-family: $helvetica-md;
    font-size: 1.125rem;
    font-weight: 400;
  }

  dd {
    opacity: 1;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: $helvetica-roman;
    font-size: 1.125rem;
    letter-spacing: 0.3px;

    &.na {
      opacity: 0.6;
    }
  }
}

.order-total {
  width: 100%;
  min-width: 355px;
  margin-left: -10px;

  thead {

    th {
      padding: 17px 29px 20px 17px;
      text-transform: uppercase;
      font-family: $helvetica-md;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.1875;

      &:nth-child(2) {
        padding-left: 29px;
        text-align: right;
      }
    }
  }

  tbody {

    th,
    td {
      padding: 12px 29px 12px 17px;
      white-space: nowrap;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.2222;

      &:nth-child(2) {
        padding-left: 29px;
        text-align: right;
      }
    }

    th {
      font-family: $helvetica-md;
    }

    td {
      font-family: $helvetica-roman;
    }

    tr:last-child th,
    tr:last-child td {
      padding-bottom: 17px;
    }
  }

  tfoot {

    th,
    td {
      border-top: 1px solid #33373e;
      padding: 15px 29px 15px 17px;
      white-space: nowrap;
      font-size: 1.125rem;
      font-weight: 400;
      font-family: $helvetica-md;
      line-height: 1.2222;

      &:nth-child(2) {
        padding-left: 29px;
        text-align: right;
      }
    }
  }

  + .order-total {
    margin-top: 96px;
  }
}

.action-required {
  position: relative;
  border: 1px solid #2599d5;
  border-radius: 3px;
  padding: 15px 356px 15px 24px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

  h3 {
    display: block;
    margin: 0;
    padding: 0 0 8px;
    font-family: $helvetica-md;
    font-size: 1rem;
    color: #33373e;
    line-height: 1.1875;
  }

  p {
    margin: 0;
    padding: 0;
    font-family: $helvetica-roman;
    font-size: 0.875rem;
    line-height: 1.2143;
  }

  div.buttons-wrapper {
    position: absolute;
    top: 19px;
    right: 31px;

    button + button {
      margin-left: 26px;
    }
  }
}