i {
  display: block;

  &.list {
    width: 27px;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    &.unknown {
      background-image: url('../../../images/orders/list-gray.png');
    }

    &.positive {
      background-image: url('../../../images/orders/list-green.png');
    }

    &.negative {
      background-image: url('../../../images/orders/list-red.png');
    }
  }
}