@import "../../styles/main.scss";

.radioButton {
  position: relative;
  padding-left: 35px;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  input {
    display: none;
  }
  .radiomark {
    border: 1px solid #B0B0B0;
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    &.small {
      height: 16px;
      width: 16px;
      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $blue-color;
      }
    }
     &:hover {
      border-color: $blue-color;
    }
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background:$blue-color;
    }
    &.disabled {
      background: $light-grey-color;
    }
    &.disabled:hover {
      border-color: #B0B0B0;
    }
  }
}
/* When the radio button is checked, add a blue background */
.radioButton input:checked ~ .radiomark {
  background-color: #ffffff;
  &.disabled {
    background: $light-grey-color;
  }
  &.disabled:after {
    background: $grey-color;
  }
}

/* Show the indicator (dot/circle) when checked */
.radioButton input:checked ~ .radiomark:after {
  display: block;
}