.message{
    background-color: white;
    min-width: 500px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    min-height: 100px;
    p {
        line-height: 0.5;
    }
    button{
        margin: 0 0 0 20px;
      }
      .button-group{
        text-align: right;
      }
      .grey{
          background-color: grey;
      }
}
.shopping-header{
    background-color: rgb(250, 250, 250);
    position: absolute;
    border-radius: 5px 5px 0px 0px;
    padding: 30px;
    
    position: relative;
 .shopping-header-info{
     display: block;
     position: relative;
     float: left;
     width: 600px;
 }

 .close-mark{
    display: block;
    position: absolute;
    right: 30px;
    top: 24px;
    color: rgb(93, 96, 101);
    font-size: 2.2rem;
    transition: all .2s ease;
    transform: rotate(0deg);
    
    &:hover{
      cursor: pointer;
      transform: rotate(-180deg);
    }
  } 

 
}
.shopping-message{
    background-color: white;
    display: block;
    position: relative;

    min-width: 500px;
    border-radius: 0px 0px 5px 5px;
    padding: 30px;
    
    .continue-advice{
        margin: 40px 0px 40px 0px;
    }
}
.line-break{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(238, 238, 238);
    padding: 0;
    margin: 0;
    
}


