before_script:
  - docker -D info
  - docker system prune -f
  - docker system prune --volumes -f
  - docker rmi --force $(docker images -q --no-trunc) || true
  - cd cypress/
  - set e+x
  - docker build -t cypress/artio .

test:
  script:
    - cd ..
    - docker run -v $PWD:/test -w /test -u appuser cypress/artio --browser chrome
  artifacts:
    when: always
    paths:
      - ./cypress/results/results*.xml
    reports:
      junit:
        - ./cypress/results/results*.xml

after_script:
  - |
    export token=$(curl -H "Content-Type: application/json" -X POST --data "{ \"client_id\": \"$XRAY_CLIENT_ID\",\"client_secret\": \"$XRAY_CLIENT_SECRET\" }" https://xray.cloud.xpand-it.com/api/v1/authenticate| tr -d '"')
    echo $token
    for FILE in ./cypress/results/results*.xml
    do
      curl -H "Content-Type: text/xml" -X POST -H "Authorization: Bearer $token" --data-binary @$FILE  "https://xray.cloud.xpand-it.com/api/v1/import/execution/junit?projectKey=DT"
    done
    echo "done"
  - docker rmi --force $(docker images --filter dangling=true -q --no-trunc) || exit 0
  - docker rm -f $(docker ps -a -q) || exit 0
  - docker volume rm $(docker volume ls -q) || exit 0