# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea
/src/app.css
/src/components/404/404.css
/src/components/Button/Button.css
/src/components/Checkbox/checkbox.css
/src/components/ComboBox/ComboBox.css
/src/components/DataTable/dataTable.css
/src/components/Datepicker/datepicker.css
/src/components/Dropdown/dropdown.css
/src/components/Filter/components/FilterTag/filterTag.css
/src/components/Filter/components/FilterTag/filterTags.css
/src/components/Filter/components/SavedFilters/SavedFilters.css
/src/components/Filter/components/SavedFilters/TooltipFilter.css
/src/components/Filter/filter.css
/src/components/Form/FormInput.css
/src/components/InputEdit/inputEdit.css
/src/components/KeepShopping/keepshopping.css
/src/components/PopUp/popup.css
/src/components/PopUp/popupComponent.css
/src/components/Radio/radioButton.css
/src/components/Spinner/spinner.css
/src/components/SubMenu/submenu.css
/src/components/Switcher/Switcher.css
/src/components/ThreeDots/ThreeDotsMenu.css
/src/components/ThreeDots/threeDots.css
/src/components/Tooltip/tooltip.css
/src/layout/Nav/nav.css
/src/pages/administration/companiesAdmin/companiesAdmin.css
/src/pages/administration/merchants/MerchantsTable.css
/src/pages/administration/namesSynonyms/namesSynonyms.css
/src/pages/administration/officesAdmin/officesAdmin.css
/src/pages/administration/operators/operators.css
/src/pages/administration/users/usersNew.css
/src/pages/cart/PurchaseOrder/PurchaseOrder.css
/src/pages/cart/PurchaseOrder/components/ShippingEdit.css
/src/pages/cart/ShoppingCart/ShoppingCart.css
/src/pages/cart/components/AddCart/AddCart.css
/src/pages/cart/components/SummaryTable/SummaryTable.css
/src/pages/clients/clients.css
/src/pages/dashboard/dashboard.css
/src/pages/inventory/addInventory/AddInventory.css
/src/pages/inventory/addInventory/components/AddForm/Pricing.css
/src/pages/inventory/addInventory/components/Chemical/components/AddedLots/AddedLots.css
/src/pages/inventory/addInventory/components/Chemical/components/AdditionalDocuments.css
/src/pages/inventory/addInventory/components/Chemical/components/ProductMapping.css
/src/pages/inventory/addInventory/components/Chemical/components/ProductOffering.css
/src/pages/inventory/addInventory/components/Chemical/components/SearchProducts.css
/src/pages/inventory/addInventory/components/Upload/attachment.css
/src/pages/inventory/addInventory/components/Upload/components/file.css
/src/pages/inventory/addInventory/components/Upload/uploadLot.css
/src/pages/inventory/allInventory/components/ProductOffers.css
/src/pages/inventory/myInventory/components/BroadcastRule.css
/src/pages/inventory/myInventory/components/BroadcastTargets.css
/src/pages/inventory/myInventory/components/ProductOffers.css
/src/pages/inventory/myInventory/components/broadcast/AddBroadcast.css
/src/pages/inventory/myInventory/myInventory.css
/src/pages/login/login.css
/src/pages/registration/registration.css
/src/styles/breakpoints.css
/src/styles/colors.css
/src/styles/main.css
/src/styles/fonts.css

src/app.css.map
src/components/404/404.css.map
src/components/Button/Button.css.map
src/components/Checkbox/checkbox.css.map
src/components/ComboBox/ComboBox.css.map
src/components/DataTable/dataTable.css.map
src/components/Datepicker/datepicker.css.map
src/components/Dropdown/dropdown.css.map
src/components/Filter/components/FilterTag/filterTag.css.map
src/components/Filter/components/FilterTag/filterTags.css.map
src/components/Filter/components/SavedFilters/SavedFilters.css.map
src/components/Filter/components/SavedFilters/TooltipFilter.css.map
src/components/Filter/filter.css.map
src/components/Form/FormInput.css.map
src/components/InputEdit/inputEdit.css.map
src/components/KeepShopping/keepshopping.css.map
src/components/PopUp/popup.css.map
src/components/PopUp/popupComponent.css.map
src/components/Radio/radioButton.css.map
src/components/Spinner/spinner.css.map
src/components/SubMenu/submenu.css.map
src/components/Switcher/Switcher.css.map
src/components/ThreeDots/ThreeDotsMenu.css.map
src/components/ThreeDots/threeDots.css.map
src/components/Tooltip/tooltip.css.map
src/layout/Nav/nav.css.map
src/pages/administration/Administration.css.map
src/pages/administration/companiesAdmin/companiesAdmin.css.map
src/pages/administration/merchants/MerchantsTable.css.map
src/pages/administration/namesSynonyms/namesSynonyms.css.map
src/pages/administration/officesAdmin/officesAdmin.css.map
src/pages/administration/operators/operators.css.map
src/pages/administration/users/Users.css.map
src/pages/cart/PurchaseOrder/PurchaseOrder.css.map
src/pages/cart/PurchaseOrder/components/ShippingEdit.css.map
src/pages/cart/ShoppingCart/ShoppingCart.css.map
src/pages/cart/components/AddCart/AddCart.css.map
src/pages/cart/components/SummaryTable/SummaryTable.css.map
src/pages/clients/clients.css.map
src/pages/dashboard/dashboard.css.map
src/pages/inventory/addInventory/AddInventory.css.map
src/pages/inventory/addInventory/components/AddForm/Pricing.css.map
src/pages/inventory/addInventory/components/Chemical/components/AddedLots/AddedLots.css.map
src/pages/inventory/addInventory/components/Chemical/components/AdditionalDocuments.css.map
src/pages/inventory/addInventory/components/Chemical/components/ProductMapping.css.map
src/pages/inventory/addInventory/components/Chemical/components/ProductOffering.css.map
src/pages/inventory/addInventory/components/Chemical/components/SearchProducts.css.map
src/pages/inventory/addInventory/components/Upload/attachment.css.map
src/pages/inventory/addInventory/components/Upload/components/file.css.map
src/pages/inventory/addInventory/components/Upload/uploadLot.css.map
src/pages/inventory/allInventory/components/ProductOffers.css.map
src/pages/inventory/myInventory/components/BroadcastRule.css.map
src/pages/inventory/myInventory/components/BroadcastTargets.css.map
src/pages/inventory/myInventory/components/ProductOffers.css.map
src/pages/inventory/myInventory/components/broadcast/AddBroadcast.css.map
src/pages/inventory/myInventory/myInventory.css.map
src/pages/login/login.css.map
src/pages/orders/orders.css.map
src/pages/registration/registration.css.map
src/pages/reports/reports.css.map
src/pages/settings/settings.css.map
src/pages/support/support.css.map
src/styles/breakpoints.css.map
src/styles/colors.css.map
src/styles/main.css.map
src/styles/fonts.css.map
/src/components/Confirmable/confirmDialog.css
