.comboBox {
  width: 192px;
  display: inline-block;
  position: relative; }
  .comboBox .combo-icon {
    position: absolute;
    top: 32px;
    left: 11px;
    color: #a9a9a9;
    font-size: 18px; }
  .comboBox input {
    width: 100%;
    padding-left: 40px; }
  .comboBox button {
    width: 200px; }

.combo-results {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #b0b0b0;
  border-radius: 0 0 4px 4px;
  margin-top: -3px;
  overflow-y: auto; }
  .combo-results .combo-no-result {
    padding: 10px;
    margin: 0; }
  .combo-results .combo-item {
    padding: 10px; }
    .combo-results .combo-item:hover {
      cursor: pointer;
      background-color: #eeeeee; }
    .combo-results .combo-item .combo-cas {
      margin-right: 10px; }
