.comboBox{
  width: 192px;
  display: inline-block;
  //min-width: 500px;
  position: relative;
  &.cas-search{
    width: calc(50% - 16px);
    margin: 0 0 12px;
    z-index: +2;
  }
  &.map-search{
    float: right;
    width: calc(50% - 16px);
    margin: 0 0 12px;
    z-index: +2;
  }
  .combo-validate{
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    text-align: right;
    z-index: -1;
    background-color: white;
    border-radius: 4px;
    color: #ef3157;
    font-size: .75rem;
    padding: 1px 2px;
  }
  .combo-icon{
    position: absolute;
    top: 34px;
    left: 6px;
    color: #a9a9a9;
    font-size: 18px;
  }
  input{
    width: 100%;
    padding-left: 27px;
  }
  button{
    width: 200px;
  }
}
.combo-results{
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #b0b0b0;
  border-radius: 0 0 4px 4px;
  margin-top: -3px;
  overflow-y: auto;
  z-index: 2;
  .spinner{
    margin-top: 11px;
    margin-bottom: 6px;
  }
  .combo-no-result{
    padding: 10px;
    margin: 0;
  }
  .combo-item{
    padding: 10px;
    &:hover{
      cursor: pointer;
      background-color: #eeeeee;
    }
    .combo-cas{
      margin-right: 10px;
      //float: right;
    }
  }
}