.administration-wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr;

  .administration-content {
    .data-table-wr {
      position: relative;
      top: 0;
    }
  }
  .administration-menu {
    min-width: 200px;
    .adm-menu-item {
      cursor: pointer;
    }
  }
}