.filOpt-wr {
  color: gray;
  margin: 0px 10px;
  width: 100px;
  height: 40px; }
  .filOpt-wr .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

.filOpt-body {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #289ada;
  padding: 7px; }
  .filOpt-body img {
    position: relative;
    float: right;
    transform: rotate(180deg);
    margin: 8px 4px 0 0;
    width: 13px; }
  .filOpt-body:hover, .filOpt-body:focus {
    cursor: pointer;
    border-color: #289ada;
    box-shadow: none;
    outline: none; }
  .filOpt-body.bigger {
    padding: 12px 7px;
    font-size: 1.2rem; }

.close {
  position: relative;
  opacity: 1; }

.close:hover {
  opacity: 0.8; }

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: white; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

.circle {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  left: 60px;
  cursor: pointer; }

.circle:hover {
  opacity: 0.8; }
