@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$font-family: 'Cabin', sans-serif;
$info-background: #df4449;
$info-color: white;
$header-color:#222830;
$options-background: #c44044;
$options-background-2: #af393d;
$options-color:white;
$stats-color: white;
$form-place-background: #222830;
$form-place-color: white;
$header-color: black;

$break-tablet: 1080px;
$break-phone: 700px;

.MyInventoryPage {
  .App-filter{
    .filter-save-search{
      width: 100%;
    }
  }
}