@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$font-family: 'Cabin', sans-serif;
$info-background: #df4449;
$info-color: white;
$input-color:#23262a;
$options-background: #c44044;
$options-background-2: #af393d;
$options-color:white;
$stats-color: white;
$form-place-background: #222830;
$mapped-form-body-background: #444a53;
$form-place-color: white;
$header-color: black;
$break-tablet: 1080px;
$break-phone: 700px;
$padding : 10px;
$input-size : 40px;

.MyInventoryPage {

  .App-filter{
    .filter-save-search{
      width: 100%;
    }
  }
  .mapped-form
  {
    .header{
      background-color: $form-place-background;
      color: $info-color;
      text-align: left;
      font-size: 16px;
      padding-left: $padding;
      padding-top: $padding;
    }
    .body{
      padding: $padding;
      background-color: $mapped-form-body-background;
      .map-form-elem{
        width: 100%;
        input{
          background-color: $input-color;
          border: 1px solid $input-color;
          height: $input-size;
          width: 90%;
          color: white
        }
        input::placeholder{
          color: white;
        }
        .input-group{
          .input-group-text{
            color: white;
            background-color: $input-color;
            border: 1px solid $input-color;
          }
        }
      }
      .map-form-checkbox{
        display: inline-block;
        float: left;
        padding: $padding;
        color: white;
        input{
          margin-right: $padding;
        }
      }
      .map-form-buttons{
        //padding: $padding;
        .filter-save-search{
          margin-left: 1%;
          height: $input-size;
          color: white;
          background-color: #289ada;
          border: 1px solid #289ada;
          margin-right: $padding;
        }
        .filter-cancel{
          height: $input-size;
          width: $input-size;
          margin-right: 10%;
        }
      }
    }
  }
}