.shopping-cart .shopping-cart-items .item-cart footer {
  padding: 20px 30px;
  margin-bottom: 10px; }

.shopping-cart {
  display: flex;
  justify-content: center; }
  .shopping-cart .shopping-cart-items {
    flex: 1;
    margin-right: 20px;
    max-width: 600px;
    border: 2px solid #E7E7E7;
    border-radius: 4px; }
    .shopping-cart .shopping-cart-items header {
      padding: 15px 30px;
      background-color: #f9f9f9;
      border-radius: 4px 4px 0 0; }
      .shopping-cart .shopping-cart-items header h1 {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0; }
    .shopping-cart .shopping-cart-items .item-cart:last-child {
      border: none; }
    .shopping-cart .shopping-cart-items .item-cart {
      border-bottom: 1px solid #cecece;
      margin: 10px; }
      .shopping-cart .shopping-cart-items .item-cart .item-cart-body {
        display: flex;
        justify-content: space-between; }
        @media only screen and (max-width: 767px) {
          .shopping-cart .shopping-cart-items .item-cart .item-cart-body {
            flex-wrap: wrap; } }
        .shopping-cart .shopping-cart-items .item-cart .item-cart-body .item-cart-body-section {
          flex: 1;
          padding: 10px 20px;
          min-width: 250px;
          font-weight: 1.25rem; }
          .shopping-cart .shopping-cart-items .item-cart .item-cart-body .item-cart-body-section div {
            padding: 2px 0; }
      .shopping-cart .shopping-cart-items .item-cart footer {
        display: flex;
        justify-content: flex-end; }
        @media only screen and (max-width: 767px) {
          .shopping-cart .shopping-cart-items .item-cart footer {
            justify-content: center; } }
        .shopping-cart .shopping-cart-items .item-cart footer button {
          margin-left: 15px; }
