.product-offering {
  position: relative;
}
.added-productOffering {
  float: right;
  margin-right: 20px;
  padding: 15px;
}
.add-productOffering {
  float: right;
  margin-right: 25px;
  margin-top: 110px;


}
