.uploadLot {
  padding: 1.4em;
  background: #f8f9fb none;
  text-align: center;
  font-size: 1rem;
  color: #cccccc;
  width: 100%;
  cursor: pointer;

  * {
    cursor: pointer;
  }

  .dropzoneLot {
    background: #f8f9fb !important;
    color: #848893;
    border: 2px dashed #dee2e6;
    font-weight: 300;
    line-height: 1.5;
  }

  .dropzoneLotHasFile {
    background: #dfffdf none;
    color: #848893;
    border: 2px dashed #dee2e6;
    font-weight: 300;
    line-height: 1.5;
  }

  .file-space {
    display: block;
    padding-top: 1em;
  }
}
