span.file {
  color: #b0b0b0;
  font-size: 0.9rem;
  padding: 4px 4px 4px 15px;
  border-radius: 25px;
  position: relative;
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &.lot {
    padding: 6px 4px 6px 13px;
    font-size: 0.875rem;
    color: black;
    border-radius: 25px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2;
  }
  span {
    padding-top: 5px;
  }
}
