.file {
  color: #b0b0b0;
  font-size: 0.9rem;
  padding: 4px 4px 4px 15px;
  border-radius: 25px;
  display: inline-block;
  &.lot {
    color: black;
    font-size: 1.1rem;
    padding: 4px 4px 4px 15px;
    border-radius: 25px;
    display: inline-block;
    i {
      margin-left: 5px;
      padding: 2px 4px;
      border: 1px solid #333;
      border-radius: 50%;
    }
  }
  span {
    padding-top: 5px;
  }
  i {
    &:hover {
      cursor: pointer;
    }
    position: relative;
    float: right;
    background-color: #f3f3f3;
    margin-left: 5px;
    padding: 2px 4px;
    border: 1px solid #aeaeae;
    border-radius: 50%;
  }
  .close {
    width: 20px;
    height: 20px;
    //opacity: 0.6;
  }
  .close:hover {
  opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    top: 3px;
    left: 8px;
    content: ' ';
    height: 12px;
    width: 1px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

}
