.product-offering {
  position: relative;
}
.added-productOffering {
  margin-left: 25px;
  margin-top: 15px;
}
.add-productOffering {
  //float: right;
  margin-left: 25px;
  margin-top: 15px;
}

.warning {
  font-size: 13px;
  color: #ef3157; 
  position: absolute;
}
