.product-offering {
  position: relative;
}
.added-productOffering {
  float: right;
  margin-right: 25px;
  margin-top: 110px;
}
.add-productOffering {
  float: right;
  margin-right: 25px;
  margin-top: 110px;
}

.warning {
  font-size: 13px;
  color: #ef3157; 
  position: absolute;
}
