.save-productMapping {
  width: 170px;
  font-size: 16px;
  min-width: 170px;
  min-height: 40px;
  padding: 0 25px;
  background-color: #dbf6d7;
  color: #4cd136;
  border: 2px solid #4cd136;
  border-radius: 5px;
  height: 38px;
  font-weight: bold;
  margin-left: 25px;
  transition: all .2s ease;
  .saved {
    background-color: #4cd136;
    color: white;
  }
  &:hover{
    cursor: pointer;
    background-color: #4cd136;
    color: white;
  }
    
}
.saved-productMapping {
  width: 170px;
  min-height: 40px;
  padding: 0 25px;
  background-color: #4cd136;
  color: white;
  border: 2px solid #4cd136;
  border-radius: 5px;
  height: 38px;
  font-weight: bold;
  margin-left: 25px;

}