.add-cart header, .add-cart footer, .add-cart .add-cart-body {
  padding: 20px 30px;
  margin-bottom: 10px; }

.add-cart {
  display: grid;
  grid-template-rows: 100px 1fr 70px;
  background-color: white; }
  @media only screen and (min-width: 959px) {
    .add-cart {
      min-width: 50vh; } }
  .add-cart header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-bottom: 2px solid #EBEBEA;
    box-shadow: 0px 1px 1px #f7f7f7; }
    .add-cart header h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #a0a09c;
      text-transform: uppercase;
      margin: 0; }
    .add-cart header .close-mark {
      cursor: pointer;
      color: #a0a09c;
      font-size: 2rem;
      transition: all .2s ease; }
      .add-cart header .close-mark:hover {
        transform: rotate(-180deg); }
  .add-cart footer {
    place-self: center end; }
    @media only screen and (max-width: 958px) {
      .add-cart footer {
        justify-self: center; } }
    .add-cart footer button {
      margin-left: 15px; }
  .add-cart .add-cart-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .add-cart .add-cart-body .divider {
      width: 2px;
      margin: 0 30px;
      background: #EBEBEA; }
      @media only screen and (max-width: 958px) {
        .add-cart .add-cart-body .divider {
          display: none; } }
    .add-cart .add-cart-body .add-cart-body-section {
      flex: 1;
      padding: 10px 20px;
      min-width: 250px; }
      @media only screen and (max-width: 958px) {
        .add-cart .add-cart-body .add-cart-body-section:first-child {
          border-bottom: 2px solid #EBEBEA; } }
      .add-cart .add-cart-body .add-cart-body-section h3 {
        font-size: 1.5rem;
        font-weight: bold; }
      .add-cart .add-cart-body .add-cart-body-section > div {
        padding: 10px 0; }
  .add-cart .dropdown-wr {
    width: 80%; }
