@import "../../styles/fonts.scss";
@import "../../styles/main.scss";

.popup-component {
  display: grid;
  grid-template-rows: 91px 1fr 96px;
  background-color: $white-color;
  @include mq('m') {
    min-width: 50vh;
  }

  header {
    @extend %section-shared;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

      h1 {
        margin: 15px 0 0;
        text-transform: none;
        font-family: $helvetica-roman;
        font-size: 1.375rem;
        font-weight: 400;
        color: #33373e;
        letter-spacing: 0.2px;
        line-height: 1.1818;
      }

      .close-mark {
        cursor: pointer;
        color: darken( $beige-color, 30% );
        font-size: 2rem;
        transition: all .2s ease;
        &:hover{
          transform: rotate(-180deg);
        }
      }
    }

  footer {
    @extend %section-shared;
    place-self: center end;
    @include mq('m', max) {
      justify-self: center;
    }

    button {
      margin-left: 15px;
    }
  }

  .popup-component-body {
    @extend %section-shared;
  }
}