.popup-component header, .popup-component footer, .popup-component .popup-component-body {
  padding: 20px 30px;
  margin-bottom: 10px; }

.popup-component {
  display: grid;
  grid-template-rows: 100px 1fr 70px;
  background-color: #FFFFFF; }
  @media only screen and (min-width: 768px) {
    .popup-component {
      min-width: 50vh; } }
  .popup-component header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; }
    .popup-component header h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #9b9b9b;
      text-transform: uppercase;
      margin: 0; }
    .popup-component header .close-mark {
      cursor: pointer;
      color: #9b9b9b;
      font-size: 2rem;
      transition: all .2s ease; }
      .popup-component header .close-mark:hover {
        transform: rotate(-180deg); }
  .popup-component footer {
    place-self: center end; }
    @media only screen and (max-width: 767px) {
      .popup-component footer {
        justify-self: center; } }
    .popup-component footer button {
      margin-left: 15px; }
