$breakpoints: (
  'xs': 479px,
  's': 639px,
  'm': 959px,
  'l': 1239px,
  'xl': 1240px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
