$blue-color: #329ED6;
$green-color: #4CD136;
$light-blue-color: #EFF7FC;
$beige-color: #E7E7E7;
$brown-color:#4E5157;
$white-color: #FFFFFF;
$red-color: #C0523F;
$grey-color:#4E5157;
$blue-color: #329ED6;
$green-color: #4CD136;
$light-blue-color: #EFF7FC;
$beige-color: #E7E7E7;
$brown-color:#4E5157;
$light-beige-color: lighten( $beige-color, 8% );
$grey-color:#4E5157;
$light-30-grey-color: lighten( $grey-color, 30% );
$light-50-grey-color: lighten( $grey-color, 50% );
$light-60-grey-color: lighten( $grey-color, 63% );
$white-color: #FFFFFF;
