.Login{
  width: 100%;
  position: relative;
  height: 100vh;

  .form-wr{
    max-width: 600px;
    color: #516073;
    position: absolute;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
      width: 150px;
    }
  }

  .form-place{
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    form{
      background-color: rgba(238,245,249,.6);
      border-top: 1px solid #EEF5F9;
      padding: 10px;
    }
    label{
      font-size: .8em;
      display: block;
    }
    input{
      display: block;
      padding: 5px;
      border: none;
      width: calc(100% - 10px);
      outline: 1px solid transparent;
      margin-bottom: 10px;
      transition: all .1s ease;
      &:focus{
        outline: 1px solid #df4449;
      }
    }
    .form-link{
      font-size: .8em;
      color: #df4449;
      &:hover{
        color: #df4449;
      }

    }
    button{
      background-color: rgba(223,68,73,0.14);
      box-shadow: 0 2px 2px 0 rgba(223,68,73,0.14), 0 3px 1px -2px rgba(223,68,73,2), 0 1px 5px 0 rgba(223,68,73,0.12);
      background-color: #df4449;
      color: #FFF;
      border-radius: 30px;
      border: none;
      outline: none;
      padding: 12px 30px;
      text-transform: uppercase;
      transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
      font-size: 14px;
      margin: 10px 0;
      &:hover{
        cursor: pointer;
        box-shadow:0 14px 26px -12px rgba(223,68,73,.42), 0 4px 23px 0 rgba(223,68,73,.12), 0 8px 10px -5px rgba(223,68,73,.2)
      }
    }
    .form-middle{
      text-align: center;
    }
  }

  .form-header{
    font-weight: 700;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    padding: 15px 0;
  }
}

