.Login {
  width: 100%;
  position: relative;
  height: 100vh; }
  .Login .form-wr {
    max-width: 600px;
    color: #516073;
    position: absolute;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .Login .form-wr img {
      width: 150px; }
  .Login .form-place {
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .Login .form-place form {
      background-color: rgba(238, 245, 249, 0.6);
      border-top: 1px solid #EEF5F9;
      padding: 10px; }
    .Login .form-place label {
      font-size: .8em;
      display: block; }
    .Login .form-place input {
      display: block;
      padding: 5px;
      border: none;
      width: calc(100% - 10px);
      outline: 1px solid transparent;
      margin-bottom: 10px;
      transition: all .1s ease; }
      .Login .form-place input:focus {
        outline: 1px solid #df4449; }
    .Login .form-place .form-link {
      font-size: .8em;
      color: #df4449; }
      .Login .form-place .form-link:hover {
        color: #df4449; }
    .Login .form-place button {
      background-color: rgba(223, 68, 73, 0.14);
      box-shadow: 0 2px 2px 0 rgba(223, 68, 73, 0.14), 0 3px 1px -2px #df4449, 0 1px 5px 0 rgba(223, 68, 73, 0.12);
      background-color: #df4449;
      color: #FFF;
      border-radius: 30px;
      border: none;
      outline: none;
      padding: 12px 30px;
      text-transform: uppercase;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      font-size: 14px;
      margin: 10px 0; }
      .Login .form-place button:hover {
        cursor: pointer;
        box-shadow: 0 14px 26px -12px rgba(223, 68, 73, 0.42), 0 4px 23px 0 rgba(223, 68, 73, 0.12), 0 8px 10px -5px rgba(223, 68, 73, 0.2); }
    .Login .form-place .form-middle {
      text-align: center; }
  .Login .form-header {
    font-weight: 700;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    padding: 15px 0; }
