.uploadVerifyFiles {
  padding: 1em;
  background: #f5f5f5 none;
  text-align: center;
  font-size: 1.4285714rem;
  color: #cccccc;
  width: 100%;
  cursor: pointer;

  * {
    cursor: pointer;
  }

  .dropzoneLot {
    border: 2px dashed #cccccc;
    padding: 1.5em;
    font-weight: 300;
    line-height: 1.5;
  }

  .dropzoneLotHasFile {
    background: #dfffdf none;
    border: 2px dashed #cccccc;
    padding: 1.5em;
    font-weight: 300;
    line-height: 1.5;
  }

  .file-space {
    display: block;
    padding-top: 1em;
  }
}