.uploadVerifyFiles {
  padding: 1em;
  margin: 0 0.7142857em 1em 0.7142857em;
  background: #f5f5f5 none;
  text-align: center;
  font-size: 1.4285714rem;
  color: #cccccc;
  width: 100%;

  .dropzoneLot {
    border: 2px dashed #cccccc;
    padding: 1.5em;
    font-weight: 300;
    line-height: 1.5;
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }

  .dropzoneLotHasFile {
    background: #dfffdf none;
    border: 2px dashed #cccccc;
    padding: 1.5em;
    font-weight: 300;
    line-height: 1.5;
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }

  .file-space {
    display: block;
    padding-top: 1em;
  }
}