@import "../../../../styles/main.scss";
@import "../../../../styles/fonts.scss";
$side-padding: 17px;

.summary-table {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid $beige-color;
  border-radius: $border-rounding;
  margin-bottom: 13px;

  .title {
    display: flex;
    min-height: 42px;
    align-items: center;
    justify-content: space-between;
    background-color: $beige-color;
    padding: 10px $side-padding;
    border-radius: $border-rounding $border-rounding 0 0;

    h2 {
      font-size: 1.125rem;
      font-weight: 500;
      text-transform: uppercase;
      background-color: $beige-color;
      margin: 0;
      line-height: 1.2222;
    }
  }

  main.summary-main {
    padding: 10px $side-padding 16px;
    background-color: $light-beige-color;

    table {
      width: 100%;

      tr.total td {
        font-family: $helvetica-md;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
      }
    }

    td {
      padding: 4px 0;
      font-size: 1rem;
      line-height: 1.125;
    }

    td:first-child{
      width: 80%;
    }

    > table td,
    > table tr.total td {
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }
}
