@import url(../../../src/styles/flexboxgrid.css);
a {
  text-decoration: none;
  color: #000000;
  list-style: none; }

li {
  list-style: none; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

button,
button:focus,
input {
  border: none;
  outline: none !important; }

.hide {
  display: none !important; }

.b-for-shadow {
  box-shadow: 0px 2px 5px 0px #665d66;
  margin-bottom: 5px; }

.b-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7em; }

.page-title {
  font-size: 26px;
  line-height: 2em; }

.b-search {
  display: flex;
  justify-content: space-around; }
  .b-search__select-field, .b-search__search-field, .b-search__add-user-btn {
    height: 2.6em; }
  .b-search__search-field {
    position: relative;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px; }
  .b-search .search-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
  .b-search .input-base {
    width: 100%;
    margin-left: 2.5em; }
  .b-search__add-user-btn {
    cursor: pointer;
    background-color: #2599d5;
    color: #ffffff; }

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0;
  height: 100vh;
  border-right: 2px solid #d0d1d4;
  list-style: none; }
  .tabs-wrapper__b-tabs {
    position: relative;
    font-family: "HelveticaNeueLTPro-Roman", sans-serif;
    font-size: 14px;
    line-height: 2.57;
    width: 100%;
    padding: 0;
    max-width: 83.33333333%; }
  .tabs-wrapper .tab-link {
    display: block;
    padding: 0 0 0 17px;
    color: #000000;
    cursor: pointer; }
    .tabs-wrapper .tab-link:hover {
      text-decoration: none; }
  .tabs-wrapper .active {
    font-family: "HelveticaNeueLTPro-Md", sans-serif;
    border-left: 4px solid #2599d5;
    background-color: rgba(37, 153, 213, 0.15); }

.main-table {
  padding-top: 1em;
  border: 0 solid #fff; }

.columns-title-cell {
  font-family: "HelveticaNeueLTPro-Md", sans-serif;
  font-size: 14px !important;
  color: #000000 !important; }

.columns-rows-cell {
  position: relative;
  font-family: "HelveticaNeueLTPro-Roman", sans-serif;
  font-size: 14px !important;
  color: #4e5157 !important; }

.wrapper-permissions {
  height: 2.10em;
  min-width: 8.7em;
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  padding-left: 0.4em;
  background: no-repeat 90% 50%;
  background-image: url("../../images/inv-filter/dropdown.png");
  background-size: 0.66em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

.user-checkbox {
  float: right; }

.permissions-input {
  font-size: 12px;
  margin-right: 1.5em;
  background-color: transparent; }

.search-input {
  width: 100px; }

.editDelete-btn {
  width: 100%;
  background: no-repeat 50% 50%;
  background-image: url("../../images/data-table/3dots.png");
  background-size: 1em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.editDelete-wrapper:hover .handlers-row-menu {
  display: flex; }

.handlers-row-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 0; }
  .handlers-row-menu__btn {
    cursor: pointer;
    width: 5em;
    padding: 0 1em;
    border: none;
    background: transparent;
    color: #000000; }
    .handlers-row-menu__btn:hover {
      background-color: rgba(0, 0, 0, 0.08); }

.popup-wrapper {
  display: flex;
  width: 100%;
  background-color: #d8d8d8; }

.b-popup {
  height: 75%;
  background-color: #ffffff;
  padding: 2.12em 2.12em 0 2.12em;
  text-align: start; }
  .b-popup h2 {
    font-size: 16px;
    font-family: "HelveticaNeueLTPro-Md", sans-serif;
    margin-bottom: 2.12em; }
  .b-popup ul {
    padding: 0; }
  .b-popup .buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: "HelveticaNeueLTPro-Md", sans-serif;
    font-size: 16px; }

.inputs-wrapper {
  display: flex;
  width: 58%; }
  .inputs-wrapper .email {
    flex: 2; }
  .inputs-wrapper .phone {
    flex: 1; }
  .inputs-wrapper .cancel-popup-btn {
    font-family: "HelveticaNeueLTPro-Md", sans-serif;
    font-size: 16px !important;
    width: 7em;
    background-color: #d0d1d4;
    cursor: pointer; }
  .inputs-wrapper .submit-popup-btn {
    font-family: "HelveticaNeueLTPro-Md", sans-serif;
    font-size: 16px;
    width: 8.75em;
    flex: 0 1 auto;
    margin-left: 1.25em;
    cursor: pointer; }

.warehouse-label {
  display: inline-block;
  margin: 0 1.5em 1.18em 0;
  font-size: 12px; }

.warehouse-input {
  display: block;
  border-radius: 3px;
  border: 1px solid #d0d1d4;
  width: 100%; }
