@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$font-family: 'Cabin', sans-serif;

.filter {
  font-family: "Cabin", sans-serif;
  background-color: #ffffff;
  position: absolute;
  width: 500px;
  right: 0;
  top: 53px;
  box-shadow: -2px 0px 5px 0px rgba(140,140,140,1);
  padding: 10px;
  z-index: 2;
  text-align: left;
  .header {
    font-weight: bold;
    cursor: pointer;
    padding-left: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
  }
  .filter-group{
    border-bottom: 1px solid #f0f0f0;
    &:nth-child(4){
      border-bottom: 0px;
    }
    margin-top: 10px;
    .filter-input-text{
      label, input{
        margin-left: 12px;
      }
      input{
        width: 380px;
        margin-bottom: 15px;
        margin-left: 10px;
      }
    }
  }
  .split{
    .filter-input-text{
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 15px 10px;
      label {
        margin-left: 2px;
      }
      input{
        width: 100%;
        margin: 0;
      }
    }
    .input-checkbox{
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 15px 10px;
    }
  }
  .filterBottom {
    position: absolute;
    z-index: 0;
    background-color: #eeeeee;
    left: 0;
    margin-top: 7px;
    padding-right: 10px;
    width: 500px;
    height: 80px;
    box-shadow: -2px 3px 5px 0px rgba(140,140,140,1);
  }
  .filter-button {
    //cursor: pointer;
    //border-radius: 3px;
    //color: #FFFFFF;
    //background-color: #289ada;
    //padding: 5px 25px;
    //border: none;
    //float: right;
    //margin-right: 5px;
    //margin-top: 15px;
    //margin-bottom: 5px;
    float: right;
    margin: 20px 10px 10px 5px;
    &.disabled {
      background-color: #a8a8a8;
    }
  }
  .dropdown-icon {
    width: 5%;
    cursor: pointer;
    top: 0px;
    left: 6px;
    position: absolute;
    color: #289ada;
  }
}


