@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$font-family: 'Cabin', sans-serif;

.filter {
  display: flex;
  flex-direction: column;
  font-family: "Cabin", sans-serif;
  background-color: #fbfbfb;
  // position: fixed;
  width: 500px;
  // right: 0;
  top: 105px !important;
  padding-bottom: 105px;
  // bottom: 0;
  // overflow: auto !important;
  box-shadow: -3px 4px 4px 0px rgba(0, 0, 0, 0.075);
  z-index: 4;
  text-align: left;
  .error {
    padding: 5px;
    color: red;
  }
  input {
    width: 192px;
    border-radius: 4px;
    border: 1px solid #b0b0b0;
    padding: 12px 9px;
    font-size: .875rem!important;
    line-height: 1.1429!important;
  }

  .input-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .scrollbar-container {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 80px;
    // overflow: hidden;
    padding: 0 25px 0 10px;
    >.ps__rail-y {
      position: absolute;
      left: auto !important;
      right: 0 !important;
      width: 15px;
      margin: 0;
      >.ps__thumb-y {
        position: absolute;
        width: 11px;
        margin: 0 2px;
        border-width: 2px 0;
        border-style: solid;
        border-color: #fff;
        background-color: rgba(0,0,0,0.5);
        cursor: pointer;
      }
    }
    +.filterBottom {
      padding-right: 30px;
    }
  }
  .filter-switch {
    margin: 0 15px 0 0;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0 15px 0;
    font-weight: bold;
    font-size: 1.1rem;
    .set-filters {
      cursor: pointer;
      color: #289ada;
      padding: 7px 25px;
      height: 40px;
      border: 1px solid #289ada;
      border-radius: 4px 0 0 4px;
      &.active {
        background-color: #e7e7e7;
        border-color: #d4d4d4;
        color: #76797d;
        border-right: none;
      }
    }
    .saved-filters {
      cursor: pointer;
      color: #289ada;
      padding: 7px 15px;
      height: 40px;
      border: 1px solid #289ada;
      border-radius: 0 4px 4px 0;
      &.active {
        background-color: #e7e7e7;
        border-color: #d4d4d4;
        border-left: none;
        color: #76797d;
      }
    }
  }
  .header {
    position: relative;
    margin: 15px 0 10px 5px;
    padding: 5px 15px 5px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .filter-group {
    border-bottom: 1px solid #f0f0f0;

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &:nth-child(1) {
      margin-top: 0;
    }

    margin-top: 10px;
    .filter-input-text {
      label, input {
        margin-left: 12px;
      }
      input {
        width: 380px;
        height: 34px;
        margin-bottom: 20px;
        margin-left: 10px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 12px;

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #c6c6c6;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #c6c6c6;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #c6c6c6;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #c6c6c6;
        }
      }
    }
    .filter-input-date {
      label, input {
        margin-left: 12px;
      }
      input {
        height: 34px;
        margin-bottom: 20px;
        margin-left: 10px;
        padding-left: 30px;
        padding-right: 8px;
        font-size: 12px;
      }
    }
    .filter-input-dropdown {
      height: auto;
      margin-bottom: 15px;

      label, div.dropdown {
        width: 380px;
        margin-left: 12px;
      }
      p {
        margin-bottom: 23px;
      }
      .comboBox {
        width: 380px;
        height: 34px;
        margin-bottom: 20px;

        input {
          padding-left: 8px;
          padding-right: 8px;
          font-size: 12px;
        }
      }
    }
    .input-checkbox {
      margin: 0 25px 14px 10px;
    }
    .half {
      float: left;
      width: 50%;

      + * {
        width: 50%;
      }
    }
  }
  .split {
    .filter-input-text {
      display: inline-block; //note/TODO: display is block, when flot is different from none!
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 15px 10px;
      label {
        margin-left: 2px;
      }
      input {
        width: 100%;
        margin: 0;
      }
    }
    .input-checkbox {
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
    }
    .filter-input-dropdown{
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 35px 10px;
    }
    .filter-input-date {
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 15px 10px;
      label {
        margin-left: 2px;
      }
      input {
        width: 100%;
        margin: 0;
      }
    }
  }
  .filterBottom {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 500px;
    height: 80px;
    margin-top: 7px;
    padding-right: 10px;
    background-color: #eeeeee;
  }
  .filter-button {
    float: right;
    height: 42px;
    margin: 24px 10px 10px 5px;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 40px;

    &.disabled {
      background-color: #a8a8a8;
    }
  }
  .dropdown-icon {
    width: 5%;
    cursor: pointer;
    top: 3px;
    left: 6px;
    position: absolute;
    color: #289ada;
    i {
      font-weight: bolder;
    }
  }
  .save-filter {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    label {
      margin-left: 10px;
    }
    .header {
      padding-left: 10px;
      cursor: auto;
    }
    .input {
      margin-left: 10px;
      width: 300px;
      height: 42px;
    }
    .saveButton {
      transition: all .2s ease;
      display: inline-block;
      // width: 120px;
      min-height: 42px;
      margin-left: 20px;
      border: 1px solid #4cd136;
      border-radius: 3px;
      padding: 7px 35px;
      height: 42px;
      background-color: #ffffff;
      vertical-align: top;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      color: #4cd136;
      line-height: 26px;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #dbf6d7;
      }
    }
    .savedButton {
      transition: all .2s ease;
      display: inline-block;
      width: 120px;
      min-width: unset;
      height: 42px;
      min-height: 42px;
      margin-left: 20px;
      border: 1px solid #289ada;
      border-radius: 5px;
      padding: 7px 35px;
      background-color: #289ada;
      vertical-align: top;
      text-align: center;
      font-weight: bold;
      color: #fff;
      line-height: 26px;
      cursor: pointer;
    }
    .form-error {
      position: relative;
      display: inline-block;
      span {
        position: absolute;
        top: 30px;
        left: 88px;
        text-align: left;
        z-index: -1;
        background-color: white;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        color: #ef3157;
        font-size: .9rem;
        padding: 10px;
      }
    }
  }
  .filter-group + .save-filter {
    border-top: 0;
  }
}


.filter-fixed {
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.filter-inner-fixed {
  position: fixed;
  &.bottom {
    bottom: 90px;
  }

  &.top {
    top: 0px;
  }
}
  
  
.filter-container-rel {
  position: relative;
  // overflow-y: auto;
}

p {
  line-height: 400%;
}