@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$font-family: 'Cabin', sans-serif;

.filter {
  font-family: "Cabin", sans-serif;
  background-color: #ffffff;
  position: absolute;
  width: 500px;
  right: 0;
  top: 53px;
  box-shadow: -2px 0px 5px 0px rgba(140, 140, 140, 1);
  padding: 10px;
  z-index: 2;
  text-align: left;
  .filter-switch {
    margin: auto;
    text-align: center;
    padding: 10px 0 15px 0;
    font-weight: bold;
    font-size: 1.1rem;
    .set-filters {
      cursor: pointer;
      color: #289ada;
      padding: 7px 25px;
      height: 40px;
      border: 1px solid #289ada;
      border-radius: 4px 0 0 4px;
      &.active {
        background-color: #e7e7e7;
        border-color: #d4d4d4;
        color: #76797d;
        border-right: none;
      }
    }
    .saved-filters {
      cursor: pointer;
      color: #289ada;
      padding: 7px 15px;
      height: 40px;
      border: 1px solid #289ada;
      border-radius: 0 4px 4px 0;
      &.active {
        background-color: #e7e7e7;
        border-color: #d4d4d4;
        border-left: none;
        color: #76797d;
      }
    }
  }
  .header {
    font-weight: bold;
    cursor: pointer;
    padding-left: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
  }
  .filter-group {
    border-bottom: 1px solid #f0f0f0;
    &:nth-child(1) {
      border-top: 1px solid #f0f0f0;
    }
    &:nth-child(7) {
      border-bottom: 0px;
    }
    margin-top: 10px;
    .filter-input-text {
      label, input {
        margin-left: 12px;
      }
      input {
        width: 380px;
        margin-bottom: 35px;
        margin-left: 10px;
      }
    }
    .filter-input-date {
      label, input {
        margin-left: 12px;
      }
      input {
        margin-bottom: 35px;
        margin-left: 10px;
      }
    }
    .filter-input-dropdown {
      height: 240px;
      margin-left: 12px;
      width: 380px;
      p {
        margin-bottom: 23px;
      }
    }
  }
  .split {
    .filter-input-text {
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 15px 10px;
      label {
        margin-left: 2px;
      }
      input {
        width: 100%;
        margin: 0 0 20px 0;
      }
    }
    .input-checkbox {
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 10px 10px 10px; //readjust after backend is back
    }
    .filter-input-dropdown{
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 35px 10px;
    }
    .filter-input-date {
      display: inline-block;
      float: left;
      width: calc(50% - 70px);
      margin: 0 25px 15px 10px;
      label {
        margin-left: 2px;
      }
      input {
        width: 100%;
        margin: 0 0 20px 0;
      }
    }
  }
  .filterBottom {
    position: absolute;
    z-index: 0;
    background-color: #eeeeee;
    left: 0;
    margin-top: 7px;
    padding-right: 10px;
    width: 500px;
    height: 80px;
    box-shadow: -2px 3px 5px 0px rgba(140, 140, 140, 1);
  }
  .filter-button {
    //cursor: pointer;
    //border-radius: 3px;
    //color: #FFFFFF;
    //background-color: #289ada;
    //padding: 5px 25px;
    //border: none;
    //float: right;
    //margin-right: 5px;
    //margin-top: 15px;
    //margin-bottom: 5px;
    float: right;
    margin: 20px 10px 10px 5px;
    &.disabled {
      background-color: #a8a8a8;
    }
  }
  .dropdown-icon {
    width: 5%;
    cursor: pointer;
    top: 0px;
    left: 6px;
    position: absolute;
    color: #289ada;
  }
  .save-filter {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    label {
      margin-left: 10px;
    }
    .header {
      padding-left: 5px;
      cursor: auto;
    }
    .input {
      margin-left: 10px;
      width: 300px;
    }
    .saveButton {
      vertical-align: top;
      display: inline-block;
      width: 120px;
      min-height: 40px;
      padding: 7px 35px;
      color: #289ada;
      border: 2px solid #289ada;
      border-radius: 5px;
      height: 38px;
      font-weight: bold;
      text-align: center;
      margin-left: 20px;
      transition: all .2s ease;
      &:hover, &:focus {
        cursor: pointer;
      }
    }
    .savedButton {
      vertical-align: top;
      display: inline-block;
      width: 120px;
      min-height: 40px;
      min-width: unset;
      text-align: center;
      padding: 7px 35px;
      background-color: #289ada;
      color: #fff;
      border: 2px solid #289ada;
      border-radius: 5px;
      height: 38px;
      font-weight: bold;
      margin-left: 20px;
      transition: all .2s ease;
      &:hover, &:focus {
        cursor: pointer;
      }
    }
    .form-error {
      position: relative;
      display: inline-block;
      span {
        position: absolute;
        top: 30px;
        left: 88px;
        text-align: left;
        z-index: -1;
        background-color: white;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        color: #ef3157;
        font-size: .9rem;
        padding: 10px;
      }
    }
  }
}


