@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$nav-background: rgba(34, 40, 48, 0.85);
$nav-hover: rgba(34, 40, 48, 1);
$filter-background-color: gray;
$filter-input-color : white;
$filter-save-search: #289ada;
$filter-input-background-color :#3d464b;
$set-alerts-background : #899399;
$tenPX: 10px;
$font-family: 'Cabin', sans-serif;

$break-tablet: 1025px;

.AddInventoryFrom{
  padding: $tenPX;
  .header{
    text-align: left;
    width: 100%;
    font-size: 20px;
    color: #289ada;
    font-weight: bold;
    border-bottom: 1px solid;
  }
  .product{
    text-align: left;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    .product-id{
      color: #289ada;
      margin-right: $tenPX;
    }
  }
  table{
    select, input {
      height: 40px;
      width: 100%;
    }
    td{
      padding-top: 0.25rem;
    }
    th{
      padding-bottom: 0.25rem;
    }
  }
  .location{
    text-align: left;
    font-size: 14px;
    .location-header{
      font-weight: bold;
    }
    table{
      th{
        border-bottom: 0;
        border-top-color:#aaa ;
      }
      td{
        border-top: 0;
        button{
          width: 100%;
          height: 40px;
          color: white;
          background-color: #289ada;
          border: 1px solid #289ada;
          span{
            font-size: 18px;
            font-weight: bold;
            padding-right: 5px;
          }
        }

      }
    }
  }
  .details {
    text-align: left;
    font-size: 14px;
    .location-header {
      font-weight: bold;
      border-bottom: 1px solid #aaa;
    }
    table{
      th {
        border-bottom: 0;
        border-top: 0;
      }
      td {
        border-top: 0;
      }
      .description{
        background-color: gray;
        height: 40px;
        font-weight: bold;
        span{
          display: block;
        }
      }
    }
  }
  .attributes{
    text-align: left;
    font-size: 14px;
    .attributes-header {
      font-weight: bold;
      border-bottom: 1px solid #aaa;
    }
    table{
      input{
        width: 60%;
      }
      th {
        border-bottom: 0;
        border-top: 0;
      }
      td {
        border-top: 0;
        width: 25%;
      }
    }
    .min-max-inputs{
      .max-text{
        display: block;
        float: left;
        position: relative;
        top:$tenPX;
      }
      .input-group{
        width: 75%;
        padding-left: $tenPX;
        .input-group-append{
          background-color: white;
          border-right: #222222;
          border-top: #222222;
          border-bottom: #222222;
          border-left: 0;
        }
      }
    }
    .min-text{
      padding-right: $tenPX;
    }
  }
  .rules {
    text-align: left;
    font-size: 14px;
    .rules-header {
      font-weight: bold;
      border-bottom: 1px solid #aaa;
    }
    table{
      th {
        border-bottom: 0;
        border-top: 0;
      }
      td {
        border-top: 0;
        width: 25%;
      }
    }
    .rule-id{
      border-right:1px solid gray;
      font-weight: bold;
      width: 10%;
    }
  }
  .broadcast-settings{
    text-align: left;
    font-size: 14px;
    .broadcast-header{
      font-weight: bold;
      border-bottom: 1px solid #aaa;
    }
    .documents-buttons{
      padding: $tenPX;
      button{
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: 0;
        color: #289ada;
        cursor: pointer;
      }
      img{
        height: 30px;
        padding-right: $tenPX;
      }
    }
    .add-inventory {
      padding: $tenPX;
      .add-inventory-button {
        height: 40px;
        color: white;
        background-color: #289ada;
        border: 1px solid #289ada;
        width: 100%;
        cursor: pointer;

        img {
          padding-right: 20px;
        }
      }
    }
  }
}


@media only screen and (max-width: 500px) {

  .AddInventoryFrom {
      .table {
          overflow-x: scroll;
          display: block;
      }
  }

}