@import "../../../../../styles/main.scss";
.popup {
    min-width: 1000px;
}
.popup-component{
    max-width: 1000px;
    margin: 0 auto;
    .popup-component-body{
        border: 1px solid $beige-color;
        border-radius: $border-rounding;
        margin: 0 20px;
        padding: 0;
    }
    header {
        i {
            display: none;
        }
    }
    .popup-footer{
        margin: 0 20px;
        padding: 0;
    }
}
.add-broadcast {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto auto;
    .broadcast-filter-nav{
      display: grid;
      align-items: center;
      &.client-list {
        grid-template-columns: auto 40%;
      }
      &.price-list {
        grid-template-columns: auto 30%;
      }
      .field-name {
        padding-left: 1em;
      }
      .list-rules {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
      }
    }

    .broadcast-main{
        grid-column: 2;
        grid-row: 2;
        height: 50vh;
        overflow-y: auto;
        .spinner {
            margin: 20px auto 15px auto;
        }
        .broadcast-field{
            display: grid;
            align-items: center;
            height: 60px;
            border-top: 1px solid $beige-color;
            border-collapse: collapse;
            &.client-list {
              grid-template-columns: auto 40%;
            }
            &.price-list {
              grid-template-columns: auto 30%;
            }
            .list-rules {
              display: grid;
              grid-template-columns: 1fr 1fr;
              justify-items: center;
            }
            .price-rules {
                display: flex;
                .price-value {
                    width: 70%;
                    margin: 3px 5px 3px 0;
                }
            }
            .price-units {
                padding-left: 5px;
                label {
                    float: left;
                    margin: 0;
                    padding-left: 30px;
                }
                p {
                    margin: 0;
                }
            }
            .field-name {
              height: 60px;
              display: flex;
              align-items: center;
            }
            &.root {
                background-color: lighten($blue-color, 30%);
                .field-name {
                  cursor: pointer;  
                  font-weight: bold;
                  padding-left: 0.5em;
                }
              }
            &.region {
              background-color: $light-blue-color;
              .field-name {
                cursor: pointer;  
                font-weight: bold;
                padding-left: 1em;
              }
            }
            &.state {
              background-color: $light-60-grey-color;
              .field-name {
                cursor: pointer;  
                padding-left: 2em;
              }
            }
            &.company {
              background-color: $light-60-grey-color;
              .field-name {
                cursor: pointer;
                padding-left: 2em;
              }
            }
            &.office > .field-name {
                padding-left: 3em;
            }
        }
        i.fas {
            margin-right: 5px; 
        }
    }

    .broadcast-filter{
        grid-column: 1;
        grid-row: 2;
        padding: 1em;
        border-right: 1px solid $beige-color;
        .combo-results{
            top: 72px
        }
        .broadcasting-info {
            background-color: $light-60-grey-color;
            display: flex;
            color: $light-30-grey-color;
            border: 1px solid $blue-color;
            border-radius: $border-rounding;
            padding: 0.4em;
        }
        label {
            margin-bottom: 3px;
        }
        .group-item-wr {
            margin-top: 1em;
            &.smaller {
                width: 70%;
                margin-bottom: 25px;
            }
        }
        .combo-results{
            z-index: 2;
        }
        .comboBox {
            width: 100%;
            input {
                width: 100%;
            }
        }
        //shame
        .fas.fa-search.combo-icon {
            top: 10px;
        }
    }

    .broadcast-nav{
        border-right: 1px solid $beige-color;
        padding: 0 1em;
        border-bottom: 1px solid $beige-color;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        div { 
            font-size: 20px;   
            height: 100%;
            padding: 0.4em 1em;
            margin-right: 0.2em;
            white-space: nowrap;
            cursor: pointer;
            &:hover {
                border-bottom: 2px solid $blue-color;
            }
            &.active {
                border-bottom: 2px solid $blue-color;
            }
        }
    }
}

//SHAME
.fa-info-circle{
    color: $blue-color;
    padding-right: 10px;
    font-size: 1.5em;
}
.group-item-wr.search{
    position: relative;
    top: 30px;
   i {
       position: absolute;
       left: 10px;
       top: 10px;
       color: $light-30-grey-color;
   }
   input {
       padding-left: 35px;
       width: 100%;
   }
}

.group-item-wr.smaller:last-of-type {
    margin-top: 80px;
}