@import "../../../../styles/main.scss";

.fileicon {
  height: 16px;
  width: 16px;
  float: left;
  margin-top: 10px;
}

.filedescription {
  float: left;
  margin-left: 10px;
  margin-top: 7px;
}

.add-cart-body {
  display: block;

  .divider {
    display: block;
    width: auto;
    height: 2px;
    margin: 23px 19px 23px 0;
    background: darken($white-color, 40.6%);
  }

  .add-cart-body-section {
    padding: 10px 28px 21px;

    @include mq('m', max) {
      &:first-child{
        border-bottom: 2px solid $beige-color;
      }
    }

    h3 {
      display: block;
      margin: -10px -28px 20px;
      padding: 15px 24px;
      background: darken($white-color, 7%);
      font-size: 1.125rem;
      font-weight: 700;
    }

    .add-cart-product-name {
      padding: 9px 0;
      font-size: 1rem;
      font-weight: 500;
    }

    .add-cart-prod-info {

      > div {
        padding: 9px 0;
        font-size: 1rem;
        font-weight: 500;

        > span {
          display: inline-block;
          width: 50%;
          font-weight: 400;
        }
      }
    }

    .add-cart-form-input {

      + .add-cart-form-input {
        margin-top: 22px;
      }

      label {
        margin: 4px 0 8px;
        line-height: 1.125;
      }

      > div {
        max-width: 191px;
        margin: 0 0 9px;

        &.purchase-info {

          input {
            float: none;
            width: 100%;

            &.invalid {
              border: 1px solid $red-color;
            }
          }

          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
          }

          label {
            color: $red-color;
            font-size: 12px;
            margin: 0px;
            padding: 7px 0;
          }
        }
      }
    }

    .purchase-summary-info {
      margin: 15px 19px 15px 0;
      font-size: 1rem;
      line-height: 1.125;

      label {
        margin: 0;
      }

      > span {
        float: right;
        font-size: 1em;
        font-weight: 500;
      }

      &.purchase-summary-subtotal {
        font-size: 1.125rem;
        line-height: 1.1666;
      }
    }
  }
}
