@import "../../../../styles/main.scss";

  .fileicon {
    height: 16px;
    width: 16px;
    float: left;
    margin-top: 10px;
  }

  .filedescription {
    float: left;
    margin-left: 10px;
    margin-top: 7px;
  }

  .add-cart-body {
    display: flex;
    justify-content: space-between;
    @include mq('m', max) {
      flex-wrap: wrap;
    }

     .divider {
      width: 2px;
      margin: 0 30px;
      background: $beige-color;
      @include mq('m', max) {
        display: none;
      }
    }

    .add-cart-body-section {
      flex: 1;
      padding: 10px 20px;
      min-width: 340px;
      @include mq('m', max) {
        &:first-child{
          border-bottom: 2px solid $beige-color;
        }
      }
      .purchase-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      > div {
        padding: 10px 0;
      }
    }
  }
