.attachment .file-wrapper {
  display: inline-block;
  width: 33.333%;
  vertical-align: top; }

.attachment .upload {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0; }
  .attachment .upload:hover {
    cursor: pointer; }

.attachment .image-wrapper {
  position: relative;
  display: inline-block; }

.attachment .upload-image {
  padding: 10px 0 0 15px; }

.attachment .delete-image {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
  width: 135px;
  height: 90px;
  background-color: white;
  opacity: 0; }

.attachment .delete-image:hover {
  opacity: 0.5;
  transition: all .2s ease; }

.attachment .delete-image:before, .attachment .delete-image:after {
  position: relative;
  top: 3px;
  left: 8px;
  content: ' ';
  height: 25px;
  width: 1px;
  background-color: black; }

.attachment .delete-image:before {
  transform: rotate(45deg); }

.attachment .delete-image:after {
  transform: rotate(-45deg); }

.attachment .dropzone {
  font-size: 1.3rem;
  position: relative;
  text-align: center;
  padding-top: 75px;
  height: 170px;
  margin: 10px;
  border: 1px dashed #b0b0b0;
  border-radius: 4px;
  color: #b0b0b0;
  transition: all .2s ease; }
  .attachment .dropzone.active {
    border: 1px dashed #4cd136;
    color: #4cd136; }
  .attachment .dropzone.dropzone-rejected {
    border: 1px dashed #dc3545;
    color: #dc3545; }
  .attachment .dropzone:hover, .attachment .dropzone:focus {
    cursor: pointer;
    border-color: #4e5157;
    color: #4e5157; }
