.attachment {
  .file-wrapper {
    display: inline-block;
    width: 33.333%;
  }
  .upload {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    &:hover{
      cursor: pointer;
    }
  }
  .upload-file, .upload-image {
    font-size: 1.3rem;
    position: relative;
    text-align: center;
    padding-top: 75px;
    height: 170px;
    margin: 10px;
    border: 1px dashed #b0b0b0;
    border-radius: 4px;
    color: #b0b0b0;
    &:hover, &:focus {
      cursor: pointer;
      border-color: #4e5157;
      color: #4e5157;
    }
  }
}