.uploadLot label {
  margin-left: 45px;
  font-size: 1.1rem;
  color: #289ada;
  vertical-align: bottom; }

.file-space {
  position: relative;
  display: inline-block;
  float: right; }

.upload {
  height: 32px;
  float: left; }

.uploaded {
  height: 32px;
  float: left; }

.dropzoneLot {
  font-size: 1.1rem;
  color: black;
  margin-top: 10px;
  transition: all .2s ease; }
  .dropzoneLot.active {
    color: #4cd136; }
  .dropzoneLot:hover, .dropzoneLot:focus {
    cursor: pointer;
    border-color: #4e5157;
    color: #4e5157; }
