.uploadLot {
  label {
    margin: 0 0 0 37px;
    font-size: 0.875rem;
    color: #289ada;
    vertical-align: bottom;
    line-height: 2;
  }
  &.add-doc{
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    margin: 0 11px;
    padding: 2px 25px 2px 11px;
    border: 1px solid #289ada;
    border-radius: 4px;

    &:first-child {
      margin-left: 0;
    }
  }
}
.file-space{
  position: relative;
  display: inline-block;
}
.upload {
  float: left;
  height: 27px;
  margin-top: 0;
  margin-bottom: 5px;
}
.uploaded {
  height: 32px;
  float: left;
}

.dropzoneLot {
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  color: black;
  padding-top: 4px;
  transition: all .2s ease;
  &.active{
    color: #4cd136;
  }
  &:hover, &:focus {
    cursor: pointer;
    border-color: #4e5157;
    color: #4e5157;
  }
}