.wrapper {
  height: 90vh;
  color: #c3c3c3;
  line-height: 3rem;
  .hash {
    font-size: 8rem;
    font-weight: bold;
    .lost {
      font-size: 1.4rem;
      font-weight: 300;
      display: inline-block;
    }
  }
}