.shipping-edit {
  display: grid;
  grid-gap: 5px 20px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px; }
  @media only screen and (max-width: 1023px) {
    .shipping-edit {
      display: block; } }
  .shipping-edit footer {
    margin-top: 20px; }
  .shipping-edit .group-item-wr, .shipping-edit input {
    width: 100%; }
  .shipping-edit label {
    margin: 0; }
  .shipping-edit .input-group:nth-of-type(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3; }
  .shipping-edit .input-group:nth-of-type(4),
  .shipping-edit .input-group:nth-of-type(5),
  .shipping-edit .input-group:nth-of-type(6) {
    grid-row: 3 / 4; }
  .shipping-edit .input-group:nth-of-type(7) {
    grid-column: 1 / 3;
    grid-row: 4; }
  .shipping-edit .input-group:nth-of-type(8) {
    grid-row: 4; }
  .shipping-edit .popup-footer {
    grid-row: 5;
    grid-column: 1 / 5; }
  .shipping-edit .state {
    display: inline-block; }
