@import "../../../../styles/main.scss";
.shipping-edit {
    display: grid;
    grid-gap: 5px 20px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    @include mq('l', max) {
        display: block;
    }
    footer {
      margin-top: 20px;
    }
    .group-item-wr, input {
       width: 100%;
    }
    label {
        margin: 0
    }
    .input-group:nth-of-type(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .input-group:nth-of-type(4),
    .input-group:nth-of-type(5),
    .input-group:nth-of-type(6) {
        grid-row: 3 / 4;
    }
    .input-group:nth-of-type(7) {
        grid-column: 1 / 3;
        grid-row: 4;
    }
    .input-group:nth-of-type(8) {
        grid-row: 4;
    }
    .popup-footer {
        grid-row: 5;
        grid-column: 1 / 5;
    }

    .state {
       display: inline-block; 
    }
}