.datepicker {
  position: relative;
  input {
    width: 192px;
    padding-left: 30px;
  }
  .datepicker-icon {
    position: absolute;
    top: 11px;
    left: 8px;
    font-size: 18px;
    color: #a8a8a8;
    z-index: 1;
  }
}