.product-casnumber {
  color: rgb(78, 146, 223)!important;
  margin-right: 10px;
  vertical-align: middle;
}

.product-name {
  padding: 0 10px;
  vertical-align: middle;
}

.info-button {
  padding: 3px 20px;
  color: white;
  background-color: #00c500;
  border-radius: 3px;
  border: 0;
}