.product-casnumber {
  color: #4e92df !important;
  margin-right: 10px;
  vertical-align: middle; }

.data-table {
  margin-top: 20px; }

.product-name {
  padding: 0 10px;
  vertical-align: middle; }

.info-button {
  padding: 3px 20px;
  color: white;
  background-color: #00c500;
  border-radius: 3px;
  border: 0; }
