$borderColor: #e3e2df;

.all-product-offers {
  margin: 20px 20px;
  text-align: left;
  width: calc(100% - 40px);
  

  th {
    border: 2px solid $borderColor;
    background-color: #fbfaf7;
    padding: 10px;
    font-weight: bold;
  }

  th:last-child {
    text-align: center;
  }

  .product {
    border: 2px solid $borderColor;
    background-color: #dbdad7;
    font-weight: bold;
    text-align: left;

    td {
      padding: 10px;
    }

    .product-name {
      padding: 0 10px;
    }

    .icon {
      padding: 0 10px;
    }

    .quantity {
      text-align: right;
      padding-right: 30px;
    }

    .product-casnumber {
      color: rgb(78, 146, 223);
    }
  }

  .product-offer {
    border-bottom: 2px solid $borderColor;

    td {
      padding: 10px;
    }

    button {
      padding: 3px 20px;
      color: white;
      cursor: pointer;
      background-color: #00c500;
      border-radius: 3px;
      border: 0;
    }
  }
}