.input-checkbox {
  position: relative;
  padding-left: 35px; }
  .input-checkbox.input-myInv {
    padding-left: 15px; }
  .input-checkbox .checkmark {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: white;
    margin: 1px 15px 0 0;
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0; }
    .input-checkbox .checkmark.small {
      width: 17px;
      height: 17px; }
      .input-checkbox .checkmark.small:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 7px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg); }
    .input-checkbox .checkmark.mark-myInv {
      margin: 4px 0 0 0; }
      .input-checkbox .checkmark.mark-myInv.small {
        left: 3px; }
    .input-checkbox .checkmark.mark-allInv {
      margin: 4px 0 0 0; }
      .input-checkbox .checkmark.mark-allInv.small {
        left: 3px; }
    .input-checkbox .checkmark.big {
      width: 22px;
      height: 22px; }
      .input-checkbox .checkmark.big:after {
        left: 7px;
        top: 4px;
        width: 6px;
        height: 10px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg); }
    .input-checkbox .checkmark:hover, .input-checkbox .checkmark:focus {
      border-color: #329ED6;
      box-shadow: none;
      outline: none; }
    .input-checkbox .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid #329ED6;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
    .input-checkbox .checkmark.partlyanonym:after {
      border: solid #C0523F;
      border-width: 0 2px 2px 0; }
  .input-checkbox input {
    position: absolute;
    width: 0;
    opacity: 0;
    cursor: pointer; }
    .input-checkbox input:checked ~ .checkmark::after {
      display: block; }
