@import '../../styles/main.scss';

.input-checkbox {
  position: relative;
  padding-left: 35px;
  &.input-myInv {
    padding-left: 15px;
  }
  .checkmark {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: white;
    margin: 1px 15px 0 0;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    &.small {
      width: 14px;
      height: 14px;
      &:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 7px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    &.mark-myInv {
      margin: 4px 0 0 0;
      &.small {
        left: 3px;
      }
    }
    &.mark-allInv {
      margin: 4px 0 0 0;
      &.small {
        left: 3px;
      }
    }
    &.big {
      width: 24px;
      height: 24px;
      &:after {
        left: 7px;
        top: 4px;
        width: 6px;
        height: 10px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    &:hover,
    &:focus {
      border-color: $blue-color;
      box-shadow: none;
      outline: none;
    }
    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid $blue-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &.partlyanonym {
      &:after {
        border: solid $orange-color;
        border-width: 0 2px 2px 0;
      }
    }
  }
  input {
    position: absolute;
    width: 0;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark::after {
      display: block;
    }
  }
}