.threeDots {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #343545;
  border-radius: 50%;
  &.small {
    width: 3px;
    height: 3px;
    &:before {
      content: "";
      position: absolute;
      top:6px;
      width: 3px;
      height: 3px;
      background-color: #343545;
      border-radius: 50%;
    }
    &:after {
      content: "";
      position: absolute;
      top: 12px;
      width: 3px;
      height: 3px;
      background-color: #343545;
      border-radius: 50%;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top:8px;
    width: 5px;
    height: 5px;
    background-color: #343545;
    border-radius: 50%;
  }
  &:after {
    content: "";
    position: absolute;
    top: 16px;
    width: 5px;
    height: 5px;
    background-color: #343545;
    border-radius: 50%;
  }

}