.lots-container {
  background-color: #fcfcfc; }
  .lots-container .lots-header {
    background-color: whitesmoke;
    position: relative;
    padding: 12px 12px 12px 20px;
    border-bottom: 1.3px solid #efefef; }
  .lots-container .lots-item-container {
    display: flex;
    border-bottom: 1.3px solid #efefef; }
    .lots-container .lots-item-container .vl {
      margin: 3px 0px 3px 0px;
      border-left: 1.3px solid #efefef; }
    .lots-container .lots-item-container .lots-item-info {
      position: relative;
      float: left;
      flex: 1;
      align-self: center;
      padding: 10px 10px 10px 20px; }
    .lots-container .lots-item-container .lots-item-docs {
      position: relative;
      float: left;
      flex: 1;
      align-self: center;
      padding: 10px 10px 10px 20px; }
    .lots-container .lots-item-container .lots-item-button-text {
      color: #a5a5a5;
      position: relative;
      float: left;
      align-self: center;
      padding: 10px 10px 10px 20px; }
    .lots-container .lots-item-container .lots-item-button {
      align-self: center;
      margin: 0px 10px 0px 10px; }
