.lots-container{
    background-color: rgb(252, 252, 252);
    .lots-header{
        background-color: rgb(245, 245, 245);
        position: relative;
        padding: 12px 12px 12px 20px;
        border-bottom: 1.3px solid rgb(239, 239, 239);
    }
    .lots-item-container{
        display: flex;
        
        
        border-bottom: 1.3px solid #ededed;
        border-top: 1.3px solid #ededed;
        .uploadText {
            position: relative;
            display: inline-block;
            margin-left: 16px;
            vertical-align: center;
            padding-top: 5px;
        }
        .vl{
            
            margin: 3px 0px 3px 0px;
            border-left: 1.3px solid #ededed;
        }
        .vm {
            width: 400px;
            position: relative;
            float: left;
        }

        .lots-item-info{
            .addLotNumber{
                background-color: #d4eaf7;
                width: 28px;
                height: 28px;
                display: inline-block;
                margin: 7px 20px 0 0 ;
                border-radius: 50%;
                position: relative;
                text-align: center;
                color: #3b98d3;
                border: 2px solid #3b98d3;
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            position: relative;
            float: left;
            flex:1;
            align-self: center;
            padding: 10px 10px 10px 20px;
        }
        .lots-item-docs{
            position: relative;
            float: left;
            flex:1;
            align-self: center;
            padding-top: 5px;

        }
        .lots-item-button-text{
            color: rgb(165, 165, 165);
            font-size: 18px;
            position: relative;
            float: left;
            align-self: center;
            width: 155px;
            padding: 12px 10px 7px 20px;
        }
        .lots-item-button{
            align-self: center;
            background-color: #f0f0f0;
            width: 30px;
            height: 30px;
            border: 1px solid #6E6464;
            border-radius: 50%;
            margin: 0px 10px 0px 10px;
            position: absolute;
            bottom: 7px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
            &:before, &:after {
                position: absolute;
                left: 14px;
                top: 4px;
                content: ' ';
                height: 20px;
                width: 1px;
                background-color: #6E6464;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }

}