.br-item-header {
  padding: 0 20px; }
  .br-item-header .left-group {
    display: inline-block;
    margin-top: 14px;
    font-size: 1.1rem;
    font-weight: normal; }

.br-group-header {
  background-color: #efeff1;
  padding: 0 20px; }
  .br-group-header .left-group {
    display: inline-block;
    margin-top: 14px;
    font-size: 1.2rem;
    font-weight: bold; }
    .br-group-header .left-group .icon {
      margin-right: 10px; }
    .br-group-header .left-group .no-targets {
      margin-left: 10px;
      color: #a8a8a8; }

.br-config {
  float: right; }
  .br-config .br-config-divider {
    float: left;
    margin: 0 10px; }
    .br-config .br-config-divider .br-config-header {
      vertical-align: top;
      margin-top: 15px;
      margin-right: 10px;
      font-weight: bold;
      display: inline-block; }
    .br-config .br-config-divider input {
      vertical-align: top; }
    .br-config .br-config-divider div {
      display: inline-block; }
    .br-config .br-config-divider .radioButton {
      margin: 16px 10px 0 0;
      padding-left: 25px; }
      .br-config .br-config-divider .radioButton p {
        margin: 0; }
    .br-config .br-config-divider.price {
      padding: 7px 0 5px 0; }
      .br-config .br-config-divider.price div {
        margin-top: 2px; }
      .br-config .br-config-divider.price .br-config-header {
        margin-top: 9px; }
      .br-config .br-config-divider.price .radioButton {
        display: block;
        padding-left: 20px;
        margin: 0 0 0 5px; }
        .br-config .br-config-divider.price .radioButton p {
          font-size: .8rem; }
