.product-casnumber {
  color: #4e92df !important;
  margin-right: 10px; }

.data-table {
  margin-top: 20px; }

.product {
  border: 2px solid #e3e2df;
  background-color: #ebeaed;
  font-weight: bold;
  text-align: left; }
  .product td {
    padding: 5px 10px 5px 10px; }
  .product .product-name {
    padding: 0 10px; }
  .product .icon {
    padding: 0 10px; }
  .product .quantity {
    text-align: right;
    color: #9b9ca0; }

.product-offer {
  border-bottom: 2px solid #e3e2df; }
  .product-offer td {
    padding: 1px 10px 1px 10px; }
  .product-offer button {
    padding: 3px 20px;
    color: white;
    background-color: #289ada;
    border-radius: 3px;
    border: 0; }

.fa-cog {
  font-size: 25px; }

.broadcast-mark {
  background-color: #b5b5b5;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  position: relative; }
  .broadcast-mark::after {
    content: '';
    background-color: #7f7f7f;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px; }
  .broadcast-mark.open {
    background-color: #66d66a; }
    .broadcast-mark.open::after {
      background-color: #00a005; }
