
@import "../../../../styles/main.scss";

.product-casnumber {
  color: rgb(37, 153, 213)!important;
  margin-right: 10px;
  vertical-align: baseline;
}

.product-name {
  padding: 0 10px;
  vertical-align: baseline;
}

.broadcast-mark{
  background-color: #b5b5b5;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  &::after{
    content: '';
    background-color: #7f7f7f;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
  }
  &.open {
    background-color: #66d66a;
    &::after{
      background-color: #00a005;
    }
  }
}



.brc-radio-wrapper {
  display: flex;
  justify-content: center;
  width: 80px;
  
  .switch-container {
    display: block;
    width: 40px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .switch {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 1.5px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
  }

  .slider.active {
    background-color: $green-color;
  }

  .slider.active {
    box-shadow: 0 0 1px $green-color;
  }

  .slider.active:before {
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
    border: 1px solid $grey-color;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
