$borderColor: #e3e2df;

.product-offers {
  margin: 20px 20px;
  text-align: left;
  width: calc(100% - 40px);
  th {
    border: 2px solid $borderColor;
    background-color: #fbfaf7;
    padding: 10px;
    font-weight: normal;
  }

  th:first-child {
    border-right: 0px;
  }

  th:nth-child(2) {
    border-left: 0px;
  }

  .product {
    border: 2px solid $borderColor;
    background-color: #dbdad7;
    font-weight: bold;
    text-align: left;

    td {
      padding: 10px;
    }

    .product-name {
      padding: 0 10px;
    }

    .icon {
      padding: 0 10px;
    }

    .quantity {
      text-align: right;
      padding-right: 75px;
    }
  }

  .product-offer {
    border-bottom: 2px solid $borderColor;

    td {
      padding: 10px;
    }

    button {
      padding: 3px 20px;
      color: white;
      background-color: #00c500;
      border-radius: 3px;
      border: 0;
    }
  }
}

.broadcast-mark{
  background-color: #b5b5b5;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  &:hover{
    cursor: pointer;
  }
  &::after{
    content: '';
    background-color: #7f7f7f;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
  }
}