
@import "../../../../styles/main.scss";

.product-casnumber {
  color: rgb(78, 146, 223)!important;
  margin-right: 10px;
  vertical-align: middle;
}

.data-table{
  margin-top: 20px;
}

.product-name {
  padding: 0 10px;
  vertical-align: middle;
}

.broadcast-mark{
  background-color: #b5b5b5;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  &::after{
    content: '';
    background-color: #7f7f7f;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
  }
  &.open {
    background-color: #66d66a;
    &::after{
      background-color: #00a005;
    }
  }
}


//shame
.brc-radio-wrapper {
  display: flex;
  justify-content: center;
  .brc-radio {
    width:20px;
    height: 20px;
    border-radius: 100%;
    background-color: $light-30-grey-color;
    border: 5px solid $light-50-grey-color;
    cursor:pointer;
    
    &.active{
      border-color: $light-green-color;
      background-color: $green-color;
    }
  }
}
