@import "../../../styles/main.scss";

.purchase-order-section {
    footer {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 15px;
        }
    }
    .text-section > div {
        margin: 10px 0;
        color: $grey-color;
    }
}

.cart-item-summary:not(:last-child) {
    border-bottom: 2px solid $beige-color;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.remove {
    color: $blue-color;
    cursor: pointer;
    display: block;
    float: right;
}