@import "../../../styles/main.scss";

.purchase-order-section {
  padding: 16px 20px 20px;

  .group-item-wr {

    + .text-section,
    + .text-sections {
      margin-top: 16px;
      border-top: 1px solid darken($beige-color, 10%);
      padding-top: 16px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 15px;
    }
  }
  .text-section {
    div {
      margin: 0 0 8px;
      font-size: 1.125rem;
      color: $light-30-grey-color;
      line-height: 1.1666;

      &:last-child {
        margin: 0;
      }

      &.subtitle {
        margin-bottom: 16px;
        font-weight: 500;
        color: $grey-color;
        line-height: 1.2222;
      }
    }
  }
  .text-sections {
    display: grid;
    grid-template-columns: 265px 16px calc(100% - 281px);

    > div {
      &:nth-child(odd) {
        grid-column: 1 / 2;
      }
      &:nth-child(even) {
        grid-column: 3 / 4;
      }
    }
  }
}
.summary-tables {
  .summary-table {
    &:last-child {
      margin-bottom: 50px;
    }

    main.summary-main {
      .cart-item-summary {
        min-width: 280px;

        tr {

          td {
            padding: 6px 0;

            &:nth-child(2) {
              text-align: right;
            }

            &.title {
              height: 24px;
              font-size: 1.25rem;
              font-weight: 500;
              line-height: 1.2;
            }

            &.subtitle {
              padding-top: 15px;
              padding-bottom: 12px;
              font-size: 1.125rem;
              font-weight: 400;
              line-height: 1.1666;
            }

            &.action {
              font-size: 1rem;
            }
          }
        }

        tr.total td {
          font-weight: 500;
        }
      }
    }

    .summary-footer {
      margin-top: 23px;

      button {
        width: 100%;
      }
    }
  }
}

.cart-item-summary:not(:last-child) {
    border-bottom: 2px solid $beige-color;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.headerAddtext {
    color: $blue-color;
    cursor: pointer;
    display: block;
    float: right;
    text-transform: none;
    font-weight: 500;
}