@import "../../../styles/main.scss";

.purchase-order-section {
    footer {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 15px;
        }
    }
}
