@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$nav-background: rgba(34, 40, 48, 0.85);
$nav-hover: rgba(34, 40, 48, 1);
$data-table-header-background: #2e363a;
$purchase-background-color: #3b3e40;
$purchase-detail-background-color: #43484b;
$data-table-header-color : white;
$data-table-header-margin: 5px;
$filter-save-search: #289ada;
$data-table-id-colour :#289ada;
$set-alerts-background : #899399;
$filter-input-button-height: 40px;
$data-table-margin-top: 20px;
$data-table-margin-bottom: 20px;
$data-table-hr-margin: 30px;
$font-family: 'Cabin', sans-serif;
$break-phone: 700px;

$break-tablet: 1025px;

.App-data-table{
  margin-top: $data-table-margin-top;
  margin-bottom:  $data-table-margin-bottom;
  font-size: 14px;
  table{
    width: 99%;
    margin-left: 10px;
    thead{
      border-bottom: 1px solid black;
    }
    tbody{
      .table-item-mapped{
        cursor:pointer;
      }
    }
  }
  .table-header{
    text-align: left;
    width: 100%;
    margin-left: 0;
    font-size: 22px;
    color : $filter-save-search;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
}

@media(max-width: $break-tablet) {
  .App-data-table {
    table {
      overflow-x: scroll;
      display: block;
    }
  }
}
