@import "../../../../src/styles/main.scss";
@import "../../../../src/styles/flexboxgrid.css";
@import "../../../../src/styles/fonts.scss";

// helpers

a {
  text-decoration: none;
  color: #000000;
  list-style: none;
}

li {
  list-style: none; 
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {  
  text-transform: uppercase;
}

button,
button:focus,
input {
  border: none;
  outline: none !important;
  // font-size: 14px;
  // font-weight: 500;
}

.hide {
  display: none !important;
}

// main

// filter block
.b-for-shadow {
  box-shadow: 0px 2px 5px 0px rgba(102,93,102,1);
  margin-bottom: 5px;
}

.b-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7em;  
}

.page-title {
  font-size: 26px;
  line-height: 2em;
}

.b-search {
  display: flex;
  justify-content: space-around;

  &__select-field,
  &__search-field,
  &__add-user-btn {  
    height: 2.6em;
  }

  &__search-field {
    position: relative;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
  }

  .input-base {
    width: 100%;
    margin-left: 2.5em;
  }

  &__add-user-btn {
    cursor: pointer;
    background-color: $blue-color;
    color: $white-color;
  }
}

// main content block

//tabs
.tabs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0;
  height: 100vh;
  border-right: 2px solid $light-50-grey-color;
  list-style: none;

  &__b-tabs {
    position: relative;
    font-family: $helvetica-roman;
    font-size: 14px;
    line-height: 2.57;
    width: 100%;
    padding: 0;
    max-width: 83.33333333%;    
  }

  .tab-link {
    display: block;
    padding: 0 0 0 17px;
    color: #000000;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .active {    
    font-family: $helvetica-md;
    border-left: 4px solid #2599d5;
    background-color: rgba(37,153,213, .15); 
  }
}

//table
.main-table {
  padding-top: 1em;
  border: 0 solid #fff;
}

.columns-title-cell {
  font-family: $helvetica-md;
  font-size: 14px !important;
  color: #000000 !important;
}

.columns-rows-cell {
  position: relative;
  font-family: $helvetica-roman;
  font-size: 14px !important;
  color: $grey-color !important;

  &:first-child {
    overflow: visible;
  }

  .three-dots-menu {
    left: 65px;
  }

  .three-dots-menu__opener {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

.wrapper-permissions {
  height: 2.10em;
  min-width: 8.7em;
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  padding-left: 0.4em;
  background: no-repeat 90% 50% ;
  background-image: url("../../../images/inv-filter/dropdown.png");
  background-size: 0.66em;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.user-checkbox {
  float: right;
}

.permissions-input {
  font-size: 12px;
  margin-right: 1.5em;
  background-color: transparent;
}

.search-input {
  width: 100px;
}

//edit popup
.popup-wrapper {
  display: flex;
  width: 100%;
  background-color: #d8d8d8;
}

.b-popup {
  height: 44%;
  background-color: #ffffff;
  padding: 2.12em 2.12em 0 2.12em;
  text-align: start; 

  h2 {
    font-size: 16px;
    font-family: $helvetica-md;
    margin-bottom: 2.12em;
  }

  ul {
    padding: 0;
  }

  .buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: $helvetica-md;
    font-size: 16px;
  }
}

.inputs-wrapper {
  display: flex;
  width: 58%;

  .email {
    flex: 2;
  }

  .phone {
    flex: 1;
  }

  .cancel-popup-btn {
    font-family: $helvetica-md;
    font-size: 16px !important;
    width: 7em;
    background-color: $light-50-grey-color;
    cursor: pointer;
  }

  .submit-popup-btn {
    font-family: $helvetica-md;
    font-size: 16px;
    width: 8.75em;
    flex: 0 1 auto;
    margin-left: 1.25em;
    cursor: pointer;
  }
}

.settings-popup-label {  
  display: inline-block;
  margin: 0 1.5em 1.18em 0;
  font-size: 12px;
  flex: 1;
}

.popup-input {
  display: block;
  border-radius: 3px;
  border: 1px solid $light-50-grey-color;
  width: 100%;
}

.b-product-search {
  position: relative;
  width: 100%;

  // &__select-field {
  //   width: 100%;
  //   height: 42px;
  // }  

  &__found-products {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 170px;
    border: 1px solid $light-50-grey-color;
    border-radius: 0 0 4px 4px;
    overflow-y: auto;
    z-index: 10;
  }

  .product-item {    
    height: 42px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $light-50-grey-color;
    }
  }

  &:hover &__found-products {
    display: block;
  }
}

.packaging-type {
  position: relative;
  z-index: 1;
}

.dropdown-packaging-types {
  position: absolute;
  top: 58px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border: 1px solid #289ada;
  border-top: none;

  li {
    flex: 1;
    padding: 12px 9px;
    font-size: 0.875rem;
    line-height: 1.1429;

    &:hover {
      background-color: #289ada;
      color: white;
      cursor: pointer;
      box-shadow: none;
      outline: none;
    }
  }
}


//add new warehouse popup

.add-warehouse-inputs-wrapper {
  display: flex;
  width: 100%;

  .settings-popup-label {
    flex: 1;
  }

  .name {
    flex: 2;
  }

  .contact-name {
    flex: 2;
  }

  .state-input {
    padding: 12px 9px;
    font-size: 0.875rem !important;
    line-height: 1.1429 !important;
  }

  .buttons-wrapper {
    display: flex;
    flex: 2;
    font-family: $helvetica-md;
    font-size: 16px;
    align-items: flex-end;
    margin: 0 1.5em 1.18em 0;
    height: 3.75em;
  }

  .cancel-popup-btn {
    font-family: $helvetica-md;
    font-size: 16px !important;
    width: 7em;
    border-radius: 3px;
    background-color: $light-50-grey-color; 
    cursor: pointer;
  }

  .save-btn {
    font-family: $helvetica-md;
    font-size: 16px !important;
    width: 8.75em;
    flex: 0 1 auto;
    margin-left: 1.25em;    
    border-radius: 3px;
    border: 1px solid #2599d5;
    color: #2599d5;
    background-color: #ffffff;
    cursor: pointer;
    height: 42px;
  }
}

.add-new-handlers {

  .cancel-popup-btn {
    font-family: $helvetica-md;
    font-size: 16px !important;
    width: 7em;
    border-radius: 3px;
    background-color: $light-50-grey-color; 
    cursor: pointer;
  }

  .save-btn {
    font-family: $helvetica-md;
    font-size: 16px !important;
    width: 8.75em;
    flex: 0 1 auto;
    margin-left: 1.25em;    
    border-radius: 3px;
    border: 1px solid #2599d5;
    color: #2599d5;
    background-color: #ffffff;
    cursor: pointer;
    height: 42px;
  }
}