@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);
.App-data-table {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px; }
  .App-data-table table {
    width: 99%;
    margin-left: 10px; }
    .App-data-table table thead {
      border-bottom: 1px solid black; }
  .App-data-table .table-header {
    text-align: left;
    width: 100%;
    margin-left: 0;
    font-size: 22px;
    color: #289ada;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px; }

@media (max-width: 1025px) {
  .App-data-table table {
    overflow-x: scroll;
    display: block; } }
