$nav-background-color: #33373e;
$nav-links-color: #ffffff;

.App-nav {
  background-color: $nav-background-color;
  .nav-inside {
    .links{
      display: inline-block;
    }
    .logo, .nav-link{
      display: inline-block;
    }
    .logo{
      padding-left: 30px;
      padding-right: 60px;
      vertical-align: top;
      margin-top: 16px;
      img{
        width: 75px;
      }
    }
    .nav-link{
      padding: 5px 5px;
      transition: all .2s ease;
      color: $nav-links-color;
      font-weight: lighter;
      font-size: .8em;
      height: 90px;
      width: 90px;
      vertical-align: top;
      text-align: center;
      position: relative;
      &.active{
        color: #2599d5;
      }
      .link-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img{
        display: block;
        height: 33px;
        margin: 0 auto 10px auto;
      }
      i {
        display: block;
        font-size: 33px;
        margin: 0 auto 10px auto;
      }
      &:hover{
        background-color: lighten($nav-background-color, 5%);
      }
    }
  }
}