$nav-background-color: #33373e;
$nav-links-color: #b0b2b4;

.App-nav {
  background-color: $nav-background-color;
  
  .nav-inside {
    .links{
      //display: inline-block;
      float: left;
    }
    .logout{
      //display: inline-block;
      float: right;
      margin-right: 12px;
    }
    .logo, .nav-link, .dropdown-nav{
      //display: inline-block;
      float: left;
    }

    .logo{
      padding-left: 40px;
      padding-right: 0px;
      vertical-align: top;
      margin-top: 10px;
      img{
        width: 50%;
        height: 50%;
      }
    }
    
    .nav-link{
      padding: 5px 5px;
      transition: all .2s ease;
      color: $nav-links-color;
      font-weight: lighter;
      font-size: .8em;
      height: 90px;
      width: 90px;
      vertical-align: top;
      text-align: center;
      //float: right;
      position: relative;
      &.active{
        color: #2599d5;
      }
      .link-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img{
        display: block;
        height: 33px;
        margin: 0 auto 10px auto;
      }
      i {
        display: block;
        font-size: 33px;
        margin: 0 auto 10px auto;
      }
      &:hover{
        background-color: lighten($nav-background-color, 5%);
      }
    }
    .dropdown-nav{
      transition: all .2s ease;
      color: $nav-links-color;
      font-weight: lighter;
      font-size: .9em;
      height: 50px;
      vertical-align: top;
      text-align: center;
      position: relative;
      z-index: 2;

      a {
        color: #b0b2b4;
        text-decoration: none;
      }

      .dropdown-link-center{
        padding: 14px 15px 10px 15px;
        display: inline-block;

        img {
          height: 65%;
          width: 65%;
        }

        .dropdown-nav-icon{
          display: inline-block;
          font-size: .8rem;
          margin-left: 15px;
        }
      }

      .dropdown-nav-inside-myaccount{
        position: absolute;
        vertical-align: bottom;
        width: 160%;
        top: 50px;
        right: 0;
        text-align: center;
        background-color: #2b2e33;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 0 0 4px 4px;
        padding-top: 10px;
        .dropdown-nav-item{
          width: 100%;
          padding: 10px 15px;
          text-align: left;
          display: block;
          color: $nav-links-color;
          background-color: #2b2e33;
          &:last-child{
            border-radius: 0 0 4px 4px;
          }
          &.active{
            color: #f3f4f4;
            font-weight: normal;
          }
          &:hover{
            cursor: pointer;
            text-decoration: none;
            font-weight: normal;
            color: #f3f4f4;
            background-color: #276c92
          }
        }
      }

      .dropdown-nav-inside{
        position: absolute;
        vertical-align: bottom;
        width: 160%;
        top: 50px;
        left: 0;
        text-align: center;
        background-color: #2b2e33;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 0 0 4px 4px;
        padding-top: 10px;
        .dropdown-nav-item{
          width: 100%;
          padding: 10px 15px;
          text-align: left;
          display: block;
          color: $nav-links-color;
          background-color: #2b2e33;
          &:last-child{
            border-radius: 0 0 4px 4px;
          }
          &.active{
            color: #f3f4f4;
            font-weight: normal;
          }
          &:hover{
            cursor: pointer;
            text-decoration: none;
            font-weight: normal;
            color: #f3f4f4;
            background-color: #276c92
          }
        }
      }
      &.active{
        background-color: #2b2e33;
        color: #f3f4f4;
      }
      .link-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img{
        display: block;
        height: 33px;
        margin: 0 auto 10px auto;
      }
      i {
        display: block;
        font-size: 33px;
        margin: 0 auto 10px auto;
      }
      &:hover{
        cursor: pointer;
        background-color: lighten($nav-background-color, 5%);
      }
    }
  }
}
