.popup input {
  width: 80%;
  float: right; }
  @media only screen and (max-width: 767px) {
    .popup input {
      width: 100%; } }

.merchant-table {
  max-width: 1400px;
  margin: auto;
  width: calc(100% - 40px);
  table-layout: fixed; }
  .merchant-table th {
    border: 2px solid #e3e2df;
    background-color: #fbfaf7;
    padding: 10px;
    font-weight: bold; }
  .merchant-table .merch-row {
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
    padding: 5px 10px; }
    .merchant-table .merch-row td {
      text-align: left;
      padding: 10px;
      border: none; }
      .merchant-table .merch-row td:last-child {
        float: right; }
