
@import "../../../../styles/main.scss";

.filterTag {
  background-color: $beige-color;
  border: 1px solid #c6c6c6;
  padding: 4px 4px 4px 20px;
  border-radius: 25px;
  display: inline-block;
  margin: 0 0 15px 15px;
  span {
    padding-top: 5px;
  }
  i {
    &:hover {
      cursor: pointer;
    }
    position: relative;
    float: right;
    background-color: #c6c6c6;
    margin-left: 10px;
    padding: 6px 8px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
  }
}