@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);
.App {
  font-family: "Cabin", sans-serif; }

.half-form {
  display: inline-block;
  width: 50%; }
  .half-form.left {
    padding-right: 10px; }
  .half-form.right {
    padding-left: 10px; }
