@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);
.App {
  font-family: "Cabin", sans-serif; }

.header {
  color: #289ada;
  padding: 5px 15px;
  border-bottom: 1px solid #289ada;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left; }

.half-form {
  display: inline-block;
  width: 50%; }
  .half-form.left {
    padding-right: 10px; }
  .half-form.right {
    padding-left: 10px; }

.App-main {
  min-height: 100vh; }

.App-footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin: auto; }

.input-label {
  font-size: 1rem;
  display: block; }
  .input-label.bigger {
    font-size: 1.2rem; }

.button {
  color: white;
  background-color: #289ada;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 4px;
  font-size: 1.2em; }
  .button:hover, .button:focus {
    cursor: pointer;
    border-color: #0d82bf;
    box-shadow: none;
    outline: none; }
  .button.small {
    border-radius: 3px;
    padding: 6px 15px;
    font-size: 1em;
    width: 110px;
    height: 35px; }
  .button.big {
    font-size: 1.4em;
    width: 160px;
    height: 45px; }
  .button.disabled {
    background-color: #cfe6f3; }

input[type='text'], input[type='number'] {
  border-radius: 4px;
  border: 1px solid #B0B0B0;
  padding: 7px; }
  input[type='text']:hover, input[type='text']:focus, input[type='number']:hover, input[type='number']:focus {
    border-color: #289ada;
    box-shadow: none;
    outline: none; }
  input[type='text'].bigger, input[type='number'].bigger {
    padding: 12px 7px;
    font-size: 1.2rem; }

input[type='number'] {
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #B0B0B0;
  padding: 7px; }
  input[type='number']:hover, input[type='number']:focus {
    border-color: #289ada;
    box-shadow: none;
    outline: none; }
  input[type='number'].bigger {
    padding: 12px 7px;
    font-size: 1.2rem; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgray; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: lightgray; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: lightgray; }

:-moz-placeholder {
  /* Firefox 18- */
  color: lightgray; }

.conMess {
  padding: 5px 15px; }
