@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);
.App {
  font-family: "Cabin", sans-serif; }

.header {
  color: #289ada;
  padding: 5px 15px;
  border-bottom: 1px solid #289ada;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left; }

.half-form {
  display: inline-block;
  width: 50%; }
  .half-form.left {
    padding-right: 10px; }
  .half-form.right {
    padding-left: 10px; }

.App-main {
  min-height: 100vh; }

.App-footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin: auto; }

.input-label {
  font-size: 1rem;
  display: block; }
  .input-label.bigger {
    font-size: 1.2rem; }

input[type='text'], input[type='number'] {
  border-radius: 4px;
  border: 1px solid #B0B0B0;
  padding: 7px; }
  input[type='text']:hover, input[type='text']:focus, input[type='number']:hover, input[type='number']:focus {
    border-color: #289ada;
    box-shadow: none;
    outline: none; }
  input[type='text'].bigger, input[type='number'].bigger {
    padding: 12px 7px;
    font-size: 1.2rem; }

input[type='number'] {
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #B0B0B0;
  padding: 7px; }
  input[type='number']:hover, input[type='number']:focus {
    border-color: #289ada;
    box-shadow: none;
    outline: none; }
  input[type='number'].bigger {
    padding: 12px 7px;
    font-size: 1.2rem; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a8a8a8; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a8a8a8; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #a8a8a8; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #a8a8a8; }

.conMess {
  padding: 5px 15px; }

.input-checkbox {
  padding-top: 15px; }
  .input-checkbox .checkmark {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: white;
    float: left;
    margin: 1px 15px 0px 0px;
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    position: relative; }
    .input-checkbox .checkmark:hover, .input-checkbox .checkmark:focus {
      border-color: #289ada;
      box-shadow: none;
      outline: none; }
    .input-checkbox .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid #289ada;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .input-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .input-checkbox input:checked ~ .checkmark::after {
      display: block; }
