@import url(./fonts/MyFontsWebfontsKit.css);
@import "./styles/fonts.scss";
@import "./styles/main.scss";


.App {
  font-family: $app-font-family;
}

#page {
  margin: 0 29px;
}

.border-left {
  border-left: 1px solid #dedede;
}

.capitalize{
  text-transform: capitalize;
}

.clearfix{
  clear: both;
}

.left {
  float: left !important;
}

.header {
  color: $grey-color;
  padding: 5px 15px;
  margin: 15px 0 0 5px;
  font-size: 1.6em;
  text-align: left;
  &.small {
    color: #b3b4b6;
    padding: 0;
    margin: 0 0 0 20px;
    font-size: 1em;
    text-align: left;
  }
}
.inv-header {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #33373e;
  line-height: 32px;
}
.header-top {
  display: block;
  min-height: 52px;
  margin: 0 0 20px;
  padding: 10px 0 10px 29px;
  background-color: #f1f1f1;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.075);

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  h1.inv-header {
    float: none;
    display: inline-block;
    min-height: 32px;
    margin: 0 15px 0 0;
    padding: 0;
  }

  h3.header {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #979797;
    line-height: normal;
  }

  .submenu {
    float: right;
    height: 55px;
    margin: -10px 0 -13px;

    .submenu-filter {
      position: relative;
      top: auto;
      right: auto;
      transition: border 125ms linear 0ms, padding 125ms linear 0ms, width 250ms linear 125ms, margin 250ms linear 125ms;
      overflow: hidden;
      width: 34px;
      height: 55px;
      margin: 0 29px 0 0;
      padding-top: 14px;
      padding-bottom: 18px;
      text-align: left;
      text-indent: 42px;

      img {
        position: absolute;
        left: 6px;
      }

      &.opened {
        transition: border 125ms linear 250ms, padding 125ms linear 250ms, width 250ms linear 0ms, margin 250ms linear 0ms;
        width: 120px;
        margin-right: 0;
        border-bottom: 3px double #2392cb;
        padding-bottom: 15px;
      }
    }

    .link {
      margin-right: 29px;
      height: 55px;
      line-height: 35px;
    }
  }

  .filterTags {
    height: 32px;
    margin: 0 40px 0 0;
    padding: 4px 0;

    .filterTag {
      position: relative;
      overflow: hidden;
      transition: padding 125ms linear 125ms;
      display: inline-block;
      height: 24px;
      border: solid 1px #979797;
      border-radius: 16px;
      padding: 0 15px;
      background-color: rgba(216, 216, 216, 0.2);
      text-align: center;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.2px;
      color: #979797;
      line-height: 24px;

      &:hover {
        transition: padding 125ms linear 0ms;
        padding: 0 20px 0 10px;
      }

      + .filterTag {
        margin-left: 12px;
      }

      i.fa-times {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        transition: opacity 125ms linear 0ms;
        opacity: 0;
        margin: 0;
        border-radius: 16px;
        padding: 0 7px;
        background-color: rgba(198,198,198,0.2);
        text-align: right;
        line-height: 22px;
        cursor: pointer;

        &:hover {
          transition: opacity 125ms linear 125ms;
          opacity: 0.9;
        }
      }
    }
  }
}

.half-form{
  display: inline-block;
  width: 50%;
  &.left{
    padding-right: 10px;
  }
  &.right{
    padding-left: 10px;
  }
}

.App-main{
  min-height: 100vh;
}

.App-footer{
position: absolute;
  left: 50%;
  bottom: 20px;
  margin: auto;
}

.input-label{
  font-size: 1rem;
  display: block;
  &.bigger{
    font-size: 1.2rem;
  }
}
.button {
  color: white;
  background-color: #289ada;
  border: none;
  width: 130px;
  height: 42px;
  border-radius: 4px;
  font-size: 1.25em;
  font-weight: 500;

  &.green {
    background-color: #5cbb5a;

    &:hover:not([disabled]) {
      background-color: #489546;
    }
  }
  &.grey{
    background-color: $beige-color;
    color: $grey-color;

    &:hover:not([disabled]) {
      background-color: darken($beige-color, 19.25%);
    }
  }
  &:hover, &:focus{
    cursor: pointer;
    border-color: #0d82bf;
    box-shadow: none;
    outline: none;
  }
  &.small {
    border-radius: 3px;
    padding: 6px 15px;
    font-size: 1em;
    width: 110px;
    height: 35px;
  }
  &.smaller {
    width: auto;
    min-width: 86px;
    height: 27px;
    padding: 0 10px;
    font-family: $helvetica-roman;
    font-size: 12px;
  }
  &.smallest {
    width: auto;
    min-width: 68px;
    height: 21px;
    padding: 0 10px;
    font-family: $helvetica-md;
    font-size: 10px;
  }
  &.big {
    width: auto;
    min-width: 160px;
    height: 52px;
    padding: 0 27px;
    font-size: 1.25em;
  }
  &.disabled{
    background-color: #cfe6f3;
  }
  &.hidden{
    display: none;
  }
}

.textarea {
  width: 405px;
  height: 130px;
  min-height: 60px;
  border-radius: 4px;
  border: 1px solid #B0B0B0;
  padding: 7px;
  font-size: 0.875rem !important;
  &:hover, &:focus{
    border-color: #289ada;
    box-shadow: none;
    outline: none;
  }
  &.bigger{
    padding: 12px 7px;
    font-size: 1.2rem;
  }
  &[type='number']{
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
    padding: 7px;
    &:hover, &:focus{
      border-color: #289ada;
      box-shadow: none;
      outline: none;
    }
    &.bigger{
      padding: 12px 7px;
      font-size: 1.2rem;
    }
  }
}


input {
  width: 192px;
  border-radius: 4px;
  border: 1px solid #B0B0B0;
  padding: 12px 9px;
  font-size: 0.875rem !important;
  line-height: 1.1429 !important;

  &:hover, &:focus{
    border-color: #289ada;
    box-shadow: none;
    outline: none;
  }
  &.bigger{
    padding: 12px 7px;
    font-size: 1.2rem;
  }
  &[type='number']{
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
    padding: 12px 9px;

    &:hover, &:focus{
      border-color: #289ada;
      box-shadow: none;
      outline: none;
    }
    &.bigger{
      padding: 12px 7px;
      font-size: 1.2rem;
    }
  }

  &.smaller {
    height: 34px;
    padding: 10px 9px;
    font-size: 0.75rem;
    line-height: 1.1667;
  }

  &.smallest {
    height: 28px;
    padding: 7px 9px;
    font-size: 0.75rem;
    line-height: 1.1667;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a8a8a8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a8a8a8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a8a8a8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a8a8a8;
}
.conMess {
  padding: 5px 15px;
}

.warningLabel {
  position: relative;
  display: inline-block;
  .warningBody{
    position: absolute;
    left: 10px;
    top: -25px;
    padding: 10px 0;
    border: 1px solid #dc3545;
    color: #a7a9ab;
    border-radius: 4px;
    height: 40px;
    width: 300px;
  }
  .warningBody2{
    position: absolute;
    left: 0px;
    top: -25px;
    padding: 10px 0;
    border: 1px solid #dc3545;
    color: #a7a9ab;
    border-radius: 4px;
    height: 40px;
    width: 300px;
  }
  .warningBody3{
    position: absolute;
    left: 0px;
    top: -25px;
    padding: 10px 0;
    border: 1px solid #dc3545;
    color: #a7a9ab;
    border-radius: 4px;
    height: 40px;
    width: 400px;
  }

  label{
    display: inline-block;
    width: calc(100% - 40px);
    float: right;
  }
  .warning-icon{
    font-weight: bold;
    color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 50%;
    padding: 0px 9px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.errors-handler{
  position: fixed;
  z-index: 998;
  text-align: center;
  width: 100%;
  bottom: 200px;
  .error-close{
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 999;
    right: 4px;
    top: 4px;
    background: url("./images/cross.svg") no-repeat center center;
    background-size: contain;
    transition: all .2s ease;
    &:hover{
      transform: rotate(-180deg);
      cursor: pointer;
    }
  }
  .error-item{
    p{
      position: relative;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
      padding: 10px 30px;
      background-color: #e0463c;
      border-radius: 6px;
      display: inline-block;
      color: white;
    }
  }
}

i {
  &.arrow-left {
    transform: rotate(-45deg);
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: #000;
  }

  &.search {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 21px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 17px;
      border: 2px solid #c6c6c6;
      border-radius: 50%;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      transform: rotate(-42deg);
      width: 2px;
      height: 10px;
      background-color: #c6c6c6;
    }

    &.combo-icon {
      width: 15px;
      height: 15px;

      &:before {
        width: 12px;
        height: 12px;
        border-width: 1px;
      }

      &:after {
        right: 2px;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        width: 1px;
        height: 6px;
      }
    }
  }

  &.info {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 0 2px $blue-color;
    text-align: center;
    font-size: 1rem;
    color: $blue-color;
    line-height: 18px;

    &:before {
      content: "" !important;
      position: absolute;
      top: 3px;
      left: 8px;
      width: 2px;
      height: 2px;
      background-color: $blue-color;
    }

    &:after {
      content: "" !important;
      position: absolute;
      top: 7px;
      left: 8px;
      width: 2px;
      height: 8px;
      background-color: $blue-color;
    }

    /* SMALL ----------------------------- */
    &.small {
      width: 16px;
      height: 16px;

      &:before {
        margin-left: -1px;
      }

      &:after {
        height: 6px;
        margin-left: -1px;
      }
    }
  }
}

.activeSearchResult {
  background-color: #f5f5f5;
}




