@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$app-font-family: 'Cabin', sans-serif;

.App {
  font-family: $app-font-family
}

.half-form{
  display: inline-block;
  width: 50%;
  &.left{
    padding-right: 10px;
  }
  &.right{
    padding-left: 10px;
  }
}
