@import 'isobs.scss';
@import url(../src/fonts/MyFontsWebfontsKit.css);

$grey: #979797 !important;

body {
  background: #fff;
  font-family: 'HelveticaNeueLTPro';

  &.login {
    background: #f2f2f2;
  }
}

div.page-wrapper {
  width: 100%;
  padding: 0 2.2857143em;
}

.sui-error-message {
  display: block;
  margin: 0.28571429rem 0;
  color: rgb(159, 58, 56);
  font-size: 0.92857143em;
}

.top.menu.inverted {
  background: #33373e;
  font-size: 1em;
  line-height: 1.214286;

  > .container > a.item,
  .dropdown.item {
    padding: 1.14286em 1.14286em 1.14286em 1.14286em !important;
    font-size: 1em !important;
    line-height: 1.214286;
  }

  > .container > a.item:hover,
  .dropdown.item:hover,
  .dropdown.item.active,
  .dropdown.item.active:hover {
    background: #2b2e33;

    > .menu {
      padding: 0.64286em 0 0.57143em;
      background: inherit;

      > a {
        padding: 0.5em 1.14286em 0.533334em !important;
        background: inherit !important;
        font-size: 1em !important;
        color: #fff !important;
        line-height: 1.214286;

        &:hover {
          background: rgba(37,153,213,0.58) !important;
        }
      }
    }
  }

  .right.menu.black {

    .dropdown.item {
      padding-top: 1em !important;
      padding-bottom: 1em !important;

      > .menu {
        border: 0 none;
        background-color: #51555b;
        box-shadow: 0 0 0 0 transparent;
        color: #fff;

        > a {
          color: inherit !important;
        }
      }
    }
  }
}

h1.ui.header {
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }

  &.medium {
    font-size: 1.28571429em;
    font-weight: 500;
    line-height: 1.22223;
  }
}

.ui.header {
  font-family: 'HelveticaNeueLTPro';
  font-weight: 500;

  &.grey {
    color: $grey;
  }

  &.small {
    font-size: 1.142857em;
  }
}

// Secondary pointing menu override
.ui.secondary.vertical.pointing.menu .active.item {
  border-color: #2599d5;
  background-color: rgba(37,153,213,.15);
}

.ui.secondary.menu:not(.vertical) {
  min-height: 3.714286em;
  margin: 0 -2.2857143rem;
  padding: 0.642857143rem 2.2857143rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  .item {
    padding-top: 0;
    padding-bottom: 0;

    > .ui.header {
      margin-top: 0;

      &.small {
        line-height: 2.125;
      }
    }
  }

  .header.item {
    margin: 0;
    padding: 0 0.857143em;

    &:first-child {
      padding-left: 0;
    }

    .ui.header.medium {
      line-height: 1.888889;
    }
  }

  .right.menu {

    > .item {
      margin: 0;
      padding: 0 0.5em;

      &:last-child {
        padding-right: 1.07143em;
      }

      > .input input {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        font-size: 0.75em;
        line-height: 1.1667;
      }

      > button {
        padding-top: 0.642857143em;
        padding-bottom: 0.642857143em;
        font-size: 1em;
        line-height: 1.142857143;
      }

      .submenu-filter {
        position: static;
        top: auto;
        right: auto;
        margin: 0;
        padding: 0.357143em 0 0.428571em;
      }
    }
  }

  + .ui.divider:not(.vertical) {
    margin: 0.642857143rem -1.42857143rem;
    padding: 0 1.42857143rem;
  }
}

.ui.secondary.pointing.menu.vertical {
  padding: 35px 0;

  .active.item {
    border-color: #2599d5;
    &:hover {
      border-color: #2599d5;
    }
  }
}

.ui.secondary.pointing.menu:not(.vertical) {
  border: 0 none;
  padding: 0 1.714286em;

  .item {
    margin: 0 0.428572em -3px;
    border-bottom-width: 3px;
    padding: 1.5em 0.57143em 1em;
    line-height: 1.14286;

    &:first-child {
      margin-left: 0 !important;
    }

    &.active {
      margin: 0 0.428572em -3px;
      border-color: #2599d5;
      box-shadow: 2px 0 0 0 #fff, -2px 0 0 0 #fff;
    }
  }
}

.data-table-wr.orders {
  padding: 0 2.071429rem;
}

.ui.toggle.checkbox.fitted {
  width: 2.42857143rem;
  height: 1.2857143rem;
  min-height: 1.285714rem;

  input {
    width: 100%;
    height: 100%;
  }

  .box,
  label {
    min-height: 100%;
    padding: 0;

    &:before {
      width: 100%;
      height: 100%;
    }

    &:after {
      width: 14px;
      height: 14px;
      margin: 2px;
      border: 1px solid #979797;
      background: #fff;
      box-shadow: 0 0 0 0 transparent;
    }
  }
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before {
  border: 1px solid #979797;
  background: #4cd136 !important;
}

.ui.toggle.checkbox input:checked ~ .box:after,
.ui.toggle.checkbox input:checked ~ label:after {
  left: 1.142857143rem;
}