@import 'isobs.scss';
@import url(../src/fonts/MyFontsWebfontsKit.css);

$grey: #979797 !important;

body {
  background: #fff;
  font-family: 'HelveticaNeueLTPro';
}

.flex {
  display: flex !important;
  flex-direction: column;
  &.column { flex-direction: column; }
  &.row { flex-direction: row; }
  &.stretched {
    flex: 1 auto;
    min-height: 0px;
  }

  &.stretched-all {
    flex: 1 auto;
    .ui.container, .ui.segment, .ui.grid  {
      display: flex !important;
      flex: 1 auto;
      flex-direction: column;
    }
  }
}

.ui.overlay.sidebar {
  z-index: 601;
}

.bootstrapiso .table-responsive {
  width: calc(100% + 2.2857143em);
  margin-right: -2.2857143em;
  border: 0 none;
  padding-right: 2.2857143em;
}

.bootstrapiso .table-responsive table {
  border-width: 0;
}

.bootstrapiso .table-responsive td.actions {
  overflow: inherit !important;
}

.bootstrapiso .table-responsive .group-row td {
  position: relative;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  padding-right: 3em;

  span.right {
    float: right;
  }

  > i.chevron {
    position: absolute;
    right: 0.2em;
  }
}

.ui.menu .item > i.chevron.icon {
  padding: 0em;
  float: right;
  margin: 0em 0em 0em 1em;
  font-size: 70%;
}

i.icon:not(.dropdown):not(.times):not(.sort):not(.unlink):not(.thick) {
  font-family: 'thin-icons' !important;
}

i.icon.thick {
  font-family: 'icons' !important;
}

.product-details {

  > div {
    height: 100%;
    padding-bottom: 6.5rem !important;
  }

  .ui.attached.segment {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .segment-fixed {
    position: fixed;
    bottom: 2rem;
    width: calc((100% - (2 * 1.2857143rem)) * 0.3125 * 0.75 - 2rem - 2px);
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 0 0 1px #fff, 0 2.5em 0 1px #fff;
  }
}

@media (max-width: 1680px) {
  .product-details {

    .segment-fixed {
      width: calc((100% - (2 * 1.2857143rem)) * 0.3125 - 2rem - 2px)
    }
  }
}

.ui.grid.data-grid {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.142857rem;

  > .column {
    min-height: 2em;
    padding-top: .111111em;
    padding-bottom: .111111em;
    line-height: 1.777778em;

    &:nth-child(2n+1) {
      color: #777;
    }

    .labels {
      padding-top: 3px;
      line-height: 1;

      .label {
        margin-bottom: 3px;
        vertical-align: top;
      }
    }
  }
}

// .ui.grid.tier-prices {

//   .row {
//     padding: 0.1428571em 1em 0.1428571em 0;

//     .column {

//       &:first-child {
//         padding: 0.1428571em 1em;

//         .ui.label {
//           display: block;
//           padding: 0.5833em 0;
//           background: #fff;
//           text-align: center;
//           font-size: 1.16666667rem;
//           line-height: 1.2;
//         }
//       }

//       &:nth-child(2) {
//         padding: 0.1428571em 1em;

//         .icons {

//           .chevron.right {
//             transform: scale(2.0,0.8);
//             margin: 0.15em -1px 0 1px;
//             line-height: 2;
//           }

//           .window.minimize {
//             margin-top: -0.3em;
//             line-height: 2;
//           }
//         }
//       }

//       &:last-child {
//         padding: 0.1428571em 1em;

//         .fields.equal > .field {
//           width: 50%;
//         }
//       }
//     }

//     &:first-child {

//       .column:nth-child(2) .icons {
//         margin-top: 1.75rem;
//       }
//     }
//   }
// }

.ui.segment:after {
  content: "";
  clear: both;
  display: block;
}

.fields .field .selection.dropdown {
  max-width: 100%;
  min-width: 100%;
}

.accordion {

  > .title {
    padding: 0 0 1em;
  }
}

// div.page-wrapper {
//   width: 100%;
//   padding: 0 2.2857143em;
// }

.sui-error-message {
  display: block;
  margin: 0.28571429rem 0;
  color: rgb(159, 58, 56);
  font-size: 0.92857143em;
}

.ui.error.message .content p {
  line-height: 1.5;
}

#page.scrolling {
  height: 100%;

  .scrollbar-container {
    position: relative;
    transform: translateX(0);
    overflow: hidden;
    width: calc(100% + (2.2857143em * 2));
    height: 100%;
    margin: 0 -2.2857143em;
    padding: 0 2.2857143em 3em;

    .ps__rail-y {
      position: absolute;
      left: auto !important;
      right: 0 !important;
      width: 1em;
      height: calc(100% - 0.2em) !important;
      margin: 0.1em 0;

      .ps__thumb-y {
        position: absolute;
        width: 0.8em;
        margin: 0 0.1em;
        background: rgba(0,0,0,0.15);
      }
    }
  }
}

#page > .data-table-wr.orders {
  position: relative;
  left: -2.2857143em;
  right: -2.2857143em;
  width: calc(100% + 2 * 2.2857143em);
  height: 1px; // should be enlarged due to flex
  flex-shrink: 100;
  flex-grow: 100;
  padding: 0 2.2857143em;

  .scrollbar-container {
    position: relative;
    overflow: hidden;
    width: calc(100% + (2 * 2.2857143em));
    height: 100%;
    margin: 0 -2.2857143em;
    padding: 0 2.2857143em;

    .ps__rail-x {
      display: none;
    }

    .ps__rail-y {
      position: absolute;
      top: 0 !important;
      left: auto !important;
      right: 0 !important;
      width: 1em;
      height: calc(100% - 0.2em) !important;
      margin: 0.1em 0;

      .ps__thumb-y {
        position: absolute;
        width: 0.8em;
        margin: 0 0.1em;
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }

  thead tr {

    th {
      position: relative;

      .fix-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        box-sizing: border-box;
        height: 100%;
        padding: 0 0.7em 0.92857143em;
        background: rgba(255, 255, 255, 0.9);
        color: #33373e;
        line-height: 17px;
      }

      &:first-child .fix-header {
        padding-left: 0;
        box-shadow: -5px 0 0 0 rgba(255, 255, 255, 0.9);
      }

      &:last-child .fix-header {
        padding-right: 0;
        box-shadow: 5px 0 0 0 rgba(255, 255, 255, 0.9);
      }
    }
  }
}


h1.ui.header {
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }

  &.medium {
    font-size: 1.28571429em;
    font-weight: 500;
    line-height: 1.22223;
  }
}

.ui.header {
  font-family: 'HelveticaNeueLTPro';
  font-weight: 500;

  &.grey {
    color: $grey;
  }

  &.small {
    font-size: 1.142857em;
  }
}

h3.ui.header {
  font-size: 1.142857em;

  i.info.circle {
    vertical-align: top;
    font-size: 0.875em;
  }
}

.ui.form .field > label {
  font-size: 1em;
  font-weight: 400;
}

.ui.form .field > .field + .field {
  padding-top: 1em;
}

form.inventory {
  height: 100%;
}

div.inventory {
  position: relative;
  top: 0;
  left: -2.2857143rem;
  right: -2.2857143rem;
  bottom: 2.2857143rem;
  width: calc(100% + 2 * 2.2857143rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 2.2857143rem;
  padding-right: 2.2857143rem;
  
  

  .ui.secondary.pointing.menu:not(.vertical) {
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 0 0 transparent;
    padding: 0 57px;
    .item {
      margin-bottom: 0;
    }

    .item.active {
      box-shadow: 0 0 0 0 transparent;
    }
  }

  > .ui.bottom {
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 0;
    margin-right: 0;
    border: 0 none;
    padding-left: 0;
    padding-right: 0;
    background: transparent;

    .ui.table.attached {
      width: 100.075%; // hack for 1 not completed pixel
      margin-left: 0;
      margin-right: 0;
    }

    .ui.message.attached {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.ui.secondary.pointing.menu:not(.vertical) {
  .menu.right {
    padding-right: 0.57142857em;
  }
}

.ui.attached.message.header-table-fields {
  //max-width: calc(100% + 2px);
  border: 1px solid #ccc;
  padding-left: 0.78571429em;
  padding-right: 0.78571429em;
  box-shadow: 0 0 0 0 transparent;

  button {
    margin-right: -0.28571429em;
  }
}

table.ui.table.table-fields {
  width: calc(100% + 2px);
  border-collapse: collapse;

  thead tr th {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: transparent;
  }

  tbody tr td {
    height: 2.85714286em;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 0.67857143em 0.78571429em;
    vertical-align: middle;

    input {
      width: calc(100% + 1.57142858em);
      max-width: calc(100% + 1.57142858em);
      height: calc(2.85714286em - 1px);
      margin: -0.60714286em -0.78571429em;
      border: 0 none;
      padding: 0.60714286em 0.78571429em;
    }

    div.ui.selection.dropdown {
      display: inline-block;
      width: calc(100% + 1.57142858em);
      height: calc(2.85714286em - 1px);
      margin: -0.60714286em -0.78571429em;
      border: 0 none;
      padding-top: 0.60714286em;
      padding-bottom: 0.60714286em;
      line-height: 1.57142857;
    }

    .error.field {

      .ui.input {
        vertical-align: top;
      }

      input {
        padding-top: 0.2142857em;
        padding-bottom: 1em;
      }

      > .field {
        margin-bottom: 0;
      }
    }

    .sui-error-message {
      position: absolute;
      margin: -10px 0 0;
      font-size: 0.7142857rem;
    }

    .uploadLot {
      padding: 0;
      background: transparent none;
      text-align: center;
      font-size: inherit;
      color: inherit;

      .dropzoneLot {
        border: 0 none;
        padding: 0;
        font-weight: normal;
        line-height: inherit;
      }

      .file-space {
        display: block;
        padding-top: 0;

        .file.lot {
          display: block;
          padding: 0;
          font-size: inherit;
          line-height: inherit;

          i.times.circle {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

table.order-total.ui[class*="very basic"]:not(.sortable):not(.striped) {
  min-width: 35%;

  tr {

    th:first-child,
    td:first-child {
      padding-left: 0.5em;
    }

    th:last-child,
    td:last-child {
      padding-right: 0.5em;
    }
  }
}

.ui.toggle.checkbox.fitted .box:before,
.ui.toggle.checkbox.fitted label:before {
  border: 1px solid #979797;
  border-radius: 12px;
  background-color: #d8d8d8;
}

.ui.toggle.checkbox.fitted .box:after,
.ui.toggle.checkbox.fitted label:after {
  left: 0em;
  width: 14px;
  height: 14px;
  border: 1px solid #979797;
  background-color: #e7e7e7;
}

.ui.toggle.checkbox input:focus ~ .box:before,
.ui.toggle.checkbox input:focus ~ label:before {
  border: 1px solid #979797;
}

.ui.toggle.checkbox input:checked ~ .box:after,
.ui.toggle.checkbox input:checked ~ label:after {
  background-color: #ffffff;
}

// special error state of toggle button
.ui.toggle.checkbox.error input[disabled] ~ .box:before,
.ui.toggle.checkbox.error input[disabled] ~ label:before {
  border: solid 1px #e74c3c;
  background-color: #e7e7e7;
}

.ui.toggle.checkbox.error input[disabled] ~ .box:after,
.ui.toggle.checkbox.error input[disabled] ~ label:after {
  border-color: #e74c3c;
  background-color: rgba(231, 76, 60, 0.2);
}

i.file {
  &.unknown,
  &.positive,
  &.negative {
    width: 18px;
    height: 20px;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;

    &:before {
      content: "" !important;
    }
  }

  &.unknown {
    background-image: url("../images/attachment-unknown.png");
  }
  &.positive {
    background-image: url("../images/attachment-positive.png");
  }
  &.negative {
    background-image: url("../images/attachment-negative.png");
  }
}

.ui.toggle.checkbox input:not([type=radio]):indeterminate ~ .box:before,
.ui.toggle.checkbox input:not([type=radio]):indeterminate ~ label:before {
  background: #ffff55 !important;
}

/* ------------------------------------------------------------------------------------------------
    TOAST NOTIFICATIONS
   ------------------------------------------------------------------------------------------------ */
.css-e110bw {
  z-index: 1001;
}

.ui.wide.popup {
  max-width: 500px;
}

@media (max-width: 1024px) {
  .ui.wide.popup {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .ui.wide.popup {
    max-width: 250px;
  }
}

/* -----------------
  MODALS
 */
 // fix scrolling for big modals
.page.modals.dimmer {overflow: auto;}
