@import 'isobs.scss';
@import url(../src/fonts/MyFontsWebfontsKit.css);

$grey: #979797 !important;

body {
  background: #fff;
  font-family: 'HelveticaNeueLTPro';
}

.bootstrapiso .table-responsive {
  overflow-x: inherit !important;
}

.ui.menu .item > i.chevron.icon {
  padding: 0em;
  float: right;
  margin: 0em 0em 0em 1em;
  font-size: 70%;
}

i.icon:not(.dropdown):not(.times) {
  font-family: 'thin-icons' !important;
}

div.page-wrapper {
  width: 100%;
  padding: 0 2.2857143em;
}

.sui-error-message {
  display: block;
  margin: 0.28571429rem 0;
  color: rgb(159, 58, 56);
  font-size: 0.92857143em;
}

.data-table-wr.orders {
  padding: 0 2.071429rem;
}


h1.ui.header {
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }

  &.medium {
    font-size: 1.28571429em;
    font-weight: 500;
    line-height: 1.22223;
  }
}

.ui.header {
  font-family: 'HelveticaNeueLTPro';
  font-weight: 500;

  &.grey {
    color: $grey;
  }

  &.small {
    font-size: 1.142857em;
  }
}