@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);

$nav-background: rgba(34, 40, 48, 0.85);
$nav-hover: rgba(34, 40, 48, 1);
$nav-color: white;
$font-family: 'Cabin', sans-serif;

$break-tablet: 1025px;

.App-nav {
  position: relative;
  z-index: 10;
  .fake-nav{
    width: 100%;
    height: 70px;
  }
  .nav-wr{
    width: 100%;
    margin: auto;
    .menu-item{
      display: block;
      width: 120px;
      float: left;
      .header-menu-item{
        display: block;
      }
    }
  }
  .nav-inside {
    position: fixed;
    width: 100%;
    top: 0;
    &.guest {
      font-family: $font-family
    }
    .nav-image {
      display: inline-block;
      float: left;
      a {
        padding: 14px;
        display: inline-block;
        img {
          margin-top: 5px;
        }
      }
    ;
    }
    .nav-options {
      float: left;
      a {
        color: $nav-color;
        padding: 23px 20px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        &:hover {
          cursor: pointer;
          background-color: $nav-hover;
          text-decoration: none;
        }
      }
      .btn-nav {
        border-radius: 30px;
        border: 2px solid white;
        outline: none;
        color: white;
        padding: 12px 30px;
        text-transform: uppercase;
        transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1),
        background-color .2s cubic-bezier(.4, 0, .2, 1),
        border-color .2s cubic-bezier(.4, 0, .2, 1),
        color .2s cubic-bezier(.4, 0, .2, 1);
        font-size: 14px;
        margin: 10px;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 8px 0px rgba(223, 68, 73, 1);
          border-color: rgba(223,68,73,1);
          color: white;
          background-color: rgba(223, 68, 73, 1);
        }
      }
       .active{
        border-top: 5px solid #289ada;
      }
    }
    .nav-search{
      .nav-search-input{
        width: 30%;
        float: left;
        margin-top: 2%;
        background:  url('../../images/nav/search.png') no-repeat scroll 7px 7px #b5acac;
        background-position: right;
      }
      .nav-search-input::placeholder{
        color:$nav-color;
      }
    }
    .nav-profile{
      a {
        color: $nav-color;
        padding: 23px 20px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        &:hover {
          cursor: pointer;
          background-color: $nav-hover;
          text-decoration: none;
        }
      }
      float: right;
      width: 200px;
      .nav-menu-profile{
        display: inline;
      }
      span{
        width: 100%s;
      }
      .nav-profile-arrow{
        margin-left: 10px;
      }
    }
  }
  .ham-position{
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -10px;
    z-index: 11;
  }
  .hamburger{
    width: 35px;
    height: 20px;
    background: none;
    border: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    span{
      width: 100%;
      height: 3px;
      background: white;
      display: block;
      margin: 0;
      position: relative;
      left: 0;
      transition: .2s cubic-bezier(1,-0.46,0,1.4);
      &:before{
        content: "";
        width: 100%;
        height: 3px;
        background: white;
        display: block;
        position: absolute;
        top: -200%;
        left: 0;
        transition: .2s cubic-bezier(1,-0.46,0,1.4);
      }
      &:after{
        content: "";
        width: 100%;
        height: 3px;
        background: white;
        display: block;
        position: absolute;
        bottom: -200%;
        left: 0;
        transition: .2s cubic-bezier(1,-0.46,0,1.4);
      }
    }
  }
  .hamburger:hover{
    span{
      transition: .4s cubic-bezier(1,-0.46,0,1.4);
      &:before{
        transition: .4s cubic-bezier(1,-0.46,0,1.4);
      }
      &:after{
        transition: .4s cubic-bezier(1,-0.46,0,1.4);
      }
    }
  }
  .hamburger-toggled{
    span{
      left: 5px;
      background: transparent;
      top: 5px;
      transition: .3s cubic-bezier(1,-0.46,0,1.4) !important;
      &:before{
        left: 0;
        transform-origin: center ;
        background: white;
        transform: rotate(-45deg);
        bottom: 5px;
        transition: .3s cubic-bezier(1,-0.46,0,1.4) !important;
      }
      &:after{
        right: 0;
        transform-origin: center ;
        background: white;
        transform: rotate(45deg);
        top: -5px;
        transition: .3s cubic-bezier(1,-0.46,0,1.4) !important;
      }
    }
  }
  .hamburger-toggled:hover{
    span{
      left: 5px;
      &:before{
        left: 0;
      }
      &:after{
        left: 0;
      }
    }
  }
  .nav-option-mobile{
    position: fixed;
    width: 300px;
    background-color: $nav-background;
    top: 70px;
    bottom: 0;
    a{
      display: block;
      padding: 15px 10px;
      color: white;
      &.btn-nav{
        color: #e7767f;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}