@import "../../styles/main.scss";

.data-table-wr{
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 180px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 0;

  .scrollbar-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;

    > .ps__rail-x,
    > .ps__rail-y {
      position: absolute;
      z-index: 3;
      transition: opacity 250ms linear;
      display: none;

      > div {
        opacity: 0.15;
      }
    }

    > .ps__rail-x {
      top: auto !important;
      left: 0 !important;
      bottom: 0 !important;
      height: 15px;

      >.ps__thumb-x {
        position: absolute;
        height: 11px;
        margin: 2px 0;
        border-width: 0 2px;
        border-style: solid;
        border-color: transparent;
        background-color: rgba(0,0,0,0.5);
        background-clip: content-box;
        cursor: pointer;
      }
    }

    > .ps__rail-y {
      top: 0 !important;
      left: auto !important;
      right: 0 !important;
      width: 15px;

      >.ps__thumb-y {
        position: absolute;
        width: 11px;
        margin: 0 2px;
        border-width: 2px 0;
        border-style: solid;
        border-color: transparent;
        background-color: rgba(0,0,0,0.5);
        background-clip: content-box;
        cursor: pointer;
      }
    }

    &.ps--active-x > .ps__rail-x,
    &.ps--active-y > .ps__rail-y {
      display: block;
    }

    &.ps--active-x:hover > .ps__rail-x > div,
    &.ps--active-y:hover > .ps__rail-y > div {
      opacity: 1;
    }

    .data-table {
      margin: 0;
      border: 29px solid transparent;
      border-top: 0 none;
    }
  }
}
.data-table {
  border-collapse:separate;
  border-spacing: 0;
  width: 100%;
  min-width: 1100px;
  //text-align: center;
  .three-dots-menu{
    z-index: 2;
  }
  tr {
    &.isAllInventory:hover {
      cursor: pointer;
      background-color: lighten( #A8D1DF, 15% );
    }
  }
  td {
    border-bottom: 1px solid #eeeeee;
    padding: 3px 10px;
    font-size: 15.5px;
  }
  tbody {
    tr {
      td {
        height: 36px;
        font-size: 0.875em;
        line-height: 17px;
      }

      &.data-table-group-header {
        background-color: #efeff1;
        border: 1px solid #e0e0e0;
        color: black;
        font-weight: bold;
        height: 42px;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

        > td {
          height: 42px;
          border-top: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;
          padding-top: 11px;
          padding-bottom: 11px;
          line-height: 18px;

          &:first-child{
            border-left: 1px solid #e0e0e0;
          }
          &:last-child{
            border-right: 1px solid #e0e0e0;
          }

          &.data-table-select {
            padding: 12px 10px;
            vertical-align: top;
            line-height: 16px;

            .input-checkbox { /* solving issue in Chrome - enlarging table cell */
              margin-bottom: -16px;
              vertical-align: top;
            }
          }

          &.group-header{
            height: 42px;
            padding: 11px 10px;
            vertical-align: middle;
            text-align: left;
            letter-spacing: 0.2px;
            color: #33373e;
            line-height: 16px;
          }
        }
        .fas{
          margin: 6px 20px 0 20px;
        }
        .fa-angle-down:before{
          color: #2599d5;
        }
        .data-table-group-count{
          float: right;
          font-weight: normal;
          .icon[class*="angle-"] {
            transform: rotate(-45deg);
            display: inline-block;
            width: 13px;
            height: 13px;
            margin: 0 10px 0 15px;
            border-style: solid;
            border-color: #2599d5;
            vertical-align: middle;
            cursor: pointer;
          }
          .icon.angle-down {
            margin-top: -7px;
            border-width: 0 0 2px 2px;
          }
          .icon.angle-up {
            margin-top: 7px;
            border-width: 2px 2px 0 0;

          }
        }
      }
    }
  }
  .data-table-select, .data-table-context-td, .data-table-arrow{width: 30px}
  .data-table-arrow{text-align: center}
  .checkmark{margin-top: 4px; margin-right: 0}
  .input-checkbox {
    width: 16px;
    height: 16px;
    padding-left: 16px;

    .checkmark {
      max-width: 100%;
      max-height: 100%;
      margin: 0;
    }
  }
  .data-table-context-td{position: relative}
  .data-table-context-holder{width: 1px; padding: 0;}
  .data-table-header {
    th {
      position: relative;
      height: 42px;
      font-size: 0.875em;
      font-weight: 500;
      color: #ffffff;
      padding: 13px 10px 12px;
      line-height: 17px;

      &.data-table-select {
        padding: 12px 10px;
        line-height: 18px;

        > label.input-checkbox {
          opacity: 0;
        }

        > .fix-header {
          padding: 12px 10px;
        }

        .checkmark {
          margin-top: 0;
        }
      }

      .fix-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        height: 42px;
        padding: 13px 10px 12px;
        background: rgba(255,255,255,0.9);
        color: #33373e;
        line-height: 17px;
      }

      &:first-child .fix-header {
        box-shadow: -5px 0 0 0 rgba(255,255,255,0.9);
      }

      &:last-child .fix-header {
        box-shadow: 5px 0 0 0 rgba(255,255,255,0.9);
      }
    }
    .data-table-context-th {
      position: absolute;
      top: 42px;
      z-index: 2;
      left: 0;
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      box-shadow: 2px 2px 4px 0px #ddddde;
      list-style-type: none;
      color: #33373e;
      li {
        background-color: #fafafa;
        width: 150px;
        font-weight: normal;
        padding: 10px;
        border: 1px solid #ececec;
        &:hover, &:focus {
          cursor: pointer;
          text-decoration: none;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            margin-top: -10px;
            width: 3px;
            height: 40px;
            background-color: #289ada;
          }
        }
      }
    }
  }
}

